%header#header.header.__yellow{role: "banner"}
  .ctn
    = haml 'views/layouts/_header'.to_sym

%main#main.main{role: "main"}

  %section.section.p-t_6.p-b_4{role: "region", "aria-label" => "About"}
    .ctn
      %header.section_header.m-b_4
        %h1.tx.__upper.__minor О нас
        %nav.breadcrumbs
          %a{href: "/", class: "breadcrumbs_i"} Главная
          %i.fa.fa-chevron-right
          %span.breadcrumbs_i О нас
      %section.section_main.m-b_3
        .about
          .grid
            %aside.grid-i.__grid-3>
              .about_digits
                %figure.about_digits_i
                  .about_digits_i_t 300
                  %figcaption.about_digits_i_caption МИЛЛИОНОВ ДЕТЕЙ И&nbsp;ВЗРОСЛЫХ ВО&nbsp;ВСЕМ МИРЕ СОБИРАЮТ ИЛИ КОГДА-ЛИБО СОБИРАЛИ LEGO
                %figure.about_digits_i
                  .about_digits_i_t 0,005
                  %figcaption.about_digits_i_caption ММ&nbsp;&mdash; ДОПУСТИМОЕ ОТКЛОНЕНИЕ ОТ&nbsp;НОРМЫ НА&nbsp;ФАБРИКАХ LEGO
                %figure.about_digits_i
                  .about_digits_i_t 27648
                  %figcaption.about_digits_i_caption ЧЕЛОВЕК ЕЖЕДНЕВНО ПОСЕЩАЮТ LEGOLAND
            %section.grid-i.__grid-9>
              %article.cnt
                %h1.tx.__upper.__major ДОБРО ПОЖАЛОВАТЬ В МАГАЗИНЫ КОНСТРУКТОРОВ ЛЕГО В ВАШЕМ ГОРОДЕ
                %p Для того чтобы попасть в&nbsp;волшебный мир, самый красочный и&nbsp;сказочный, достаточно посетить наши магазины, которые предлагают широкий ассортимент продукции ЛЕГО. Первый магазин сети ЛЕГО начал свою работу в&nbsp;Москве в&nbsp;ТЦ&nbsp;&laquo;РИО&raquo; на&nbsp;Дмитровском шоссе 12&nbsp;февраля 2009&nbsp;года. На&nbsp;данный момент уже открыто 68&nbsp;торговых точек и&nbsp;сеть продолжает расти.
                %p Наши магазины работают напрямую с&nbsp;представительством ЛЕГО в&nbsp;России. Компания предоставляет гарантию на&nbsp;все представленные в&nbsp;продаже наборы LEGO.
                %p Преимущества магазинов ЛЕГО:
                %ul
                  %li Мы&nbsp;с&nbsp;особым вниманием относимся к&nbsp;каждому клиенту и&nbsp;предоставляем профессиональные консультации по&nbsp;продукции, ведь наши сотрудники проходят стажировки на&nbsp;заводе ЛЕГО и&nbsp;посещают специальные семинары;
                  %li Для постоянных клиентов мы&nbsp;разработали специальную бонусную программу, чтобы наши покупатели могли получать дополнительные скидки на&nbsp;покупку;
                  %li Мы&nbsp;предлагаем оптимальные цены на&nbsp;наборы LEGO, рекомендованные производителем, а&nbsp;также проводим сезонные акции и&nbsp;распродажи;
                  %li Мы&nbsp;не&nbsp;продаем китайские подделки. У&nbsp;нас самый широкий ассортимент продукции: новинки, эксклюзив, наборы 3&nbsp;в 1, аксессуары, одежда, системы для хранения;
                  %li В&nbsp;наших магазинах есть витрины, где представлены собранные образцы популярных игр&nbsp;&mdash; Вы&nbsp;сможете увидеть модели &laquo;вживую&raquo; еще до&nbsp;покупки.
                  %li Сеть магазинов LEGO отмечена Национальной премией в&nbsp;сфере товаров и&nbsp;услуг для детей &laquo;Золотой медвежонок&nbsp;&mdash; 2012&raquo; в&nbsp;номинации &laquo;Магазин года&raquo;.

                %p
                  %img{src: "/assets/images/fake/photo_1.jpg", width: "100%", alt: "ДОБРО ПОЖАЛОВАТЬ В МАГАЗИНЫ КОНСТРУКТОРОВ ЛЕГО В ВАШЕМ ГОРОДЕ"}

                %p Бренд LEGO известен во&nbsp;всем мире! Группа LEGO была основана в&nbsp;1932 году Оле Кирком Кристиансеном. Компания переходила от&nbsp;отца к&nbsp;сыну. Сейчас она принадлежит внуку основателя.
                %p За&nbsp;прошедшие 80&nbsp;лет компания проделала долгий путь&nbsp;&mdash; от&nbsp;маленькой мастерской плотника до&nbsp;современного мирового гиганта, одного из&nbsp;лидеров по&nbsp;объему продаж среди производителей конструкторов в&nbsp;мире.
                %p Этот бренд уже давно завоевал любовь и&nbsp;доверие не&nbsp;только детей, но&nbsp;и&nbsp;их&nbsp;родителей. Ведь попасть в&nbsp;увлекательный мир игры и&nbsp;детства мечтают даже взрослые. Все наборы выполнены из&nbsp;безопасных материалов и&nbsp;не&nbsp;угрожают здоровью ребенка. Они способствуют развитию памяти и&nbsp;логического мышления малышей. Изделия бренда LEGO уже два раза были названы &laquo;Игрушкой столетия&raquo;.
                %p В&nbsp;магазинах представлены самые разнообразные наборы ЛЕГО:
                %ul
                  %li для самых маленьких Duplo;
                  %li классические - City;
                  %li игры по мотивам фильма Star Wars;
                  %li для девочек Friеnds;
                  %li и многие другие.

                %p Также мы&nbsp;предлагаем Вашему вниманию аксессуары и&nbsp;одежду данного бренда.
                %p Мы&nbsp;регулярно проводим специальные конкурсы с&nbsp;интересными подарками и&nbsp;призами от&nbsp;ЛЕГО. На&nbsp;нашем сайте&nbsp;Вы всегда сможете следить за&nbsp;их&nbsp;обновлением. У&nbsp;нас действует система накопительных баллов, поэтому купить наборы теперь можно со&nbsp;скидками до&nbsp;30%.
                %p Задать интересующие Вас вопросы можно по&nbsp;телефону, позвонив в&nbsp;магазин в&nbsp;Вашем городе.
                %p Сеть магазинов LEGO всегда открыта для деловых предложений. Подробнее о&nbsp;вариантах корпоративного партнёрства&nbsp;&mdash; в&nbsp;разделе &laquo;Сотрудничество&raquo;.

  %section.blocks.p-t_5.p-b_6{role: "region", "aria-label" => "Summary info"}
    = haml 'views/common/_block_common'.to_sym