%header#header.header.__yellow{role: "banner"}
  .ctn
    = haml 'views/layouts/_header'.to_sym

%main#main.main{role: "main"}

  %section.section.p-t_6.p-b_4{role: "region", "aria-label" => "Article"}
    .ctn
      %header.section_header.m-b_1
        %h1.tx.__upper.__minor Новости
        %nav.breadcrumbs
          %a.breadcrumbs_i{href: "/"} Главная
          %i.fa.fa-chevron-right
          %span.breadcrumbs_i Новости
      %section.section_main.m-b_3
        %nav.p-t_3.p-b_2.cf
          = haml 'views/common/_article_filter'.to_sym
        .articles.__news
          %article.articles_i.__green.brick#item1
            .articles_i_announcement
              .grid
                .grid-i.__grid-2>
                  .articles_i_date
                    %p.gamma 7 НОЯБРЯ
                    %p.gamma 2013
                .grid-i.__grid-2>
                  .articles_i_photo
                    %img.c-bg.__gray{src: "/assets/images/blank.gif", width: "166", height: "130"}
                .grid-i.__grid-7>
                  .articles_i_caption
                    %h2.articles_i_caption_t 
                      %a.js-articles_i_caption_more{href: "#item1", data: {url: "/data/show_article", scroll: "true"}} Новый магазин LEGO в Санкт-Петербурге
                    %p В Санкт-Петербурге в ТРК «Лондон Молл» открылся новый магазин LEGO.
                    %p
                      %a.articles_i_caption_more.js-articles_i_caption_more{href: "#item1", data: {url: "/data/show_article", scroll: "true"}} далее
          %article.articles_i.__red.brick#item2
            .articles_i_announcement
              .grid
                .grid-i.__grid-2>
                  .articles_i_date
                    %p.gamma 7 НОЯБРЯ
                    %p.gamma 2013
                .grid-i.__grid-2>
                  .articles_i_photo
                    %img.c-bg.__gray{src: "/assets/images/blank.gif", width: "166", height: "130"}
                .grid-i.__grid-7>
                  .articles_i_caption
                    %h2.articles_i_caption_t 
                      %a.js-articles_i_caption_more{href: "#item2", data: {url: "/data/show_article", scroll: "true"}} Новый магазин LEGO в Санкт-Петербурге
                    %p В Санкт-Петербурге в ТРК «Лондон Молл» открылся новый магазин LEGO.
                    %p
                      %a.articles_i_caption_more.js-articles_i_caption_more{href: "#item2", data: {url: "/data/show_article", scroll: "true"}} далее
          %article.articles_i.__lime.brick#item3
            .articles_i_announcement
              .grid
                .grid-i.__grid-2>
                  .articles_i_date
                    %p.gamma 7 НОЯБРЯ
                    %p.gamma 2013
                .grid-i.__grid-2>
                  .articles_i_photo
                    %img.c-bg.__gray{src: "/assets/images/blank.gif", width: "166", height: "130"}
                .grid-i.__grid-7>
                  .articles_i_caption
                    %h2.articles_i_caption_t 
                      %a.js-articles_i_caption_more{href: "#item3", data: {url: "/data/show_article", scroll: "true"}} Новый магазин LEGO в Санкт-Петербурге
                    %p В Санкт-Петербурге в ТРК «Лондон Молл» открылся новый магазин LEGO.
                    %p
                      %a.articles_i_caption_more.js-articles_i_caption_more{href: "#item3", data: {url: "/data/show_article", scroll: "true"}} далее
          %article.articles_i.__orange.brick#item4
            .articles_i_announcement
              .grid
                .grid-i.__grid-2>
                  .articles_i_date
                    %p.gamma 7 НОЯБРЯ
                    %p.gamma 2013
                .grid-i.__grid-2>
                  .articles_i_photo
                    %img.c-bg.__gray{src: "/assets/images/blank.gif", width: "166", height: "130"}
                .grid-i.__grid-7>
                  .articles_i_caption
                    %h2.articles_i_caption_t 
                      %a.js-articles_i_caption_more{href: "#item4", data: {url: "/data/show_article", scroll: "true"}} Новый магазин LEGO в Санкт-Петербурге
                    %p В Санкт-Петербурге в ТРК «Лондон Молл» открылся новый магазин LEGO.
                    %p
                      %a.articles_i_caption_more.js-articles_i_caption_more{href: "#item4", data: {url: "/data/show_article", scroll: "true"}} далее
          %article.articles_i.__yellow.brick#item5
            .articles_i_announcement
              .grid
                .grid-i.__grid-2>
                  .articles_i_date
                    %p.gamma 7 НОЯБРЯ
                    %p.gamma 2013
                .grid-i.__grid-2>
                  .articles_i_photo
                    %img.c-bg.__gray{src: "/assets/images/blank.gif", width: "166", height: "130"}
                .grid-i.__grid-7>
                  .articles_i_caption
                    %h2.articles_i_caption_t 
                      %a.js-articles_i_caption_more{href: "#item5", data: {url: "/data/show_article", scroll: "true"}} Новый магазин LEGO в Санкт-Петербурге
                    %p В Санкт-Петербурге в ТРК «Лондон Молл» открылся новый магазин LEGO.
                    %p
                      %a.articles_i_caption_more.js-articles_i_caption_more{href: "#item5", data: {url: "/data/show_article", scroll: "true"}} далее

      %footer.section_footer
        %nav.tx.__right
          = haml 'views/common/_article_pagination'.to_sym


  %section.blocks.p-t_5.p-b_6{role: "region", "aria-label" => "Summary info"}
    .ctn
      = haml 'views/common/_block_common'.to_sym

  :javascript
    $(function() {
      var hash = window.location.hash;
      if(hash) {
        var url = $(hash).find('.articles_i_caption_more').data('url');
        $.ajax({
          url: url,
          success: function(response) {
            $(hash).find('.articles_i_announcement').hide();
            $(hash).find('.articles_i_announcement').after(response);
            $(hash).find('.articles_i_show').show();
          },
          error: function() {
            alert('Error load resources');
          }
        });
      }
    });

  :javascript
    (function() {
    if (window.pluso)if (typeof window.pluso.start == "function") return;
    if (window.ifpluso==undefined) { window.ifpluso = 1;
      var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
      s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
      s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
      var h=d[g]('body')[0];
      h.appendChild(s);
    }})();    