%header#header.header.__yellow{role: "banner"}
  .ctn
    = haml 'views/layouts/_header'.to_sym

%main#main.main{role: "main"}

  %section.section.p-t_6.p-b_4{role: "region", "aria-label" => "Catalog"}
    .ctn
      %header.section_header.m-b_2
        %h1.tx.__upper.__minor Корзина
        %nav.breadcrumbs
          %a{href: "/", class: "breadcrumbs_i"} Главная
          %i.fa.fa-chevron-right
          %span.breadcrumbs_i Корзина
      %section.section_main

  %section.summary.p-t_5.p-b_6{role: "region", "aria-label" => "Summary info"}
    .m-b_6
      = haml 'views/common/_slider'.to_sym
    .ctn
      = haml 'views/common/_summary'.to_sym