%header#header.header.__yellow{role: "banner"}
  .ctn
    = haml 'views/layouts/_header'.to_sym

%main#main.main{role: "main"}

  %section.section.p-t_6.p-b_4{role: "region", "aria-label" => "Bonuses"}
    .ctn
      %header.section_header.m-b_1
        %h1.tx.__upper.__minor Бонусная программа
        %nav.breadcrumbs
          %a.breadcrumbs_i{href: "/"} Главная
          %i.fa.fa-chevron-right
          %span.breadcrumbs_i Бонусная программа
      %section.section_main.m-b_3
        .articles.__bonuses

          %figure.articles_i.__green.brick#item1
            .articles_i_announcement
              .grid
                .grid-i.__grid-3>
                  .articles_i_photo
                    %img.c-bg.__gray{src: "/assets/images/blank.gif", width: "170", height: "130"}
                .grid-i.__grid-8>
                  %figcaption.articles_i_caption
                    %h2.articles_i_caption_t
                      %a{href: "#"} Срочное сообщение!
                    %p В&nbsp;целях обновления и&nbsp;оптимизации было приостановлено действие бонусной программы сети магазинов LEGO с&nbsp;14:00 31&nbsp;октября до&nbsp;08:00 1&nbsp;ноября. В&nbsp;это время списание баллов для оплаты покупки по&nbsp;бонусной карте было недоступно. Начисление баллов за&nbsp;покупку будет произведено в&nbsp;течение 14&nbsp;дней.
                    %p
                      %a.articles_i_caption_more{href: "#item1", data: {url: "/data/show_bonuses", scroll: "true"}} далее
          %figure.articles_i.__red.brick#item2
            .articles_i_announcement
              .grid
                .grid-i.__grid-3>
                  .articles_i_photo
                    %img.c-bg.__gray{src: "/assets/images/blank.gif", width: "170", height: "130"}
                .grid-i.__grid-8>
                  %figcaption.articles_i_caption
                    %h2.articles_i_caption_t
                      %a{href: "#"} Срочное сообщение!
                    %p В&nbsp;целях обновления и&nbsp;оптимизации было приостановлено действие бонусной программы сети магазинов LEGO с&nbsp;14:00 31&nbsp;октября до&nbsp;08:00 1&nbsp;ноября. В&nbsp;это время списание баллов для оплаты покупки по&nbsp;бонусной карте было недоступно. Начисление баллов за&nbsp;покупку будет произведено в&nbsp;течение 14&nbsp;дней.
                    %p
                      %a.articles_i_caption_more{href: "#item2", data: {url: "/data/show_bonuses", scroll: "true"}} далее
          %figure.articles_i.__lime.brick#item3
            .articles_i_announcement
              .grid
                .grid-i.__grid-3>
                  .articles_i_photo
                    %img.c-bg.__gray{src: "/assets/images/blank.gif", width: "170", height: "130"}
                .grid-i.__grid-8>
                  %figcaption.articles_i_caption
                    %h2.articles_i_caption_t
                      %a{href: "#"} Срочное сообщение!
                    %p В&nbsp;целях обновления и&nbsp;оптимизации было приостановлено действие бонусной программы сети магазинов LEGO с&nbsp;14:00 31&nbsp;октября до&nbsp;08:00 1&nbsp;ноября. В&nbsp;это время списание баллов для оплаты покупки по&nbsp;бонусной карте было недоступно. Начисление баллов за&nbsp;покупку будет произведено в&nbsp;течение 14&nbsp;дней.
                    %p
                      %a.articles_i_caption_more{href: "#item3", data: {url: "/data/show_bonuses", scroll: "true"}} далее
          %figure.articles_i.__orange.brick#item4
            .articles_i_announcement
              .grid
                .grid-i.__grid-3>
                  .articles_i_photo
                    %img.c-bg.__gray{src: "/assets/images/blank.gif", width: "170", height: "130"}
                .grid-i.__grid-8>
                  %figcaption.articles_i_caption
                    %h2.articles_i_caption_t
                      %a{href: "#"} Срочное сообщение!
                    %p В&nbsp;целях обновления и&nbsp;оптимизации было приостановлено действие бонусной программы сети магазинов LEGO с&nbsp;14:00 31&nbsp;октября до&nbsp;08:00 1&nbsp;ноября. В&nbsp;это время списание баллов для оплаты покупки по&nbsp;бонусной карте было недоступно. Начисление баллов за&nbsp;покупку будет произведено в&nbsp;течение 14&nbsp;дней.
                    %p
                      %a.articles_i_caption_more{href: "#item4", data: {url: "/data/show_bonuses", scroll: "true"}} далее
          %figure.articles_i.__yellow.brick#item5
            .articles_i_announcement
              .grid
                .grid-i.__grid-3>
                  .articles_i_photo
                    %img.c-bg.__gray{src: "/assets/images/blank.gif", width: "170", height: "130"}
                .grid-i.__grid-8>
                  %figcaption.articles_i_caption
                    %h2.articles_i_caption_t
                      %a{href: "#"} Срочное сообщение!
                    %p В&nbsp;целях обновления и&nbsp;оптимизации было приостановлено действие бонусной программы сети магазинов LEGO с&nbsp;14:00 31&nbsp;октября до&nbsp;08:00 1&nbsp;ноября. В&nbsp;это время списание баллов для оплаты покупки по&nbsp;бонусной карте было недоступно. Начисление баллов за&nbsp;покупку будет произведено в&nbsp;течение 14&nbsp;дней.
                    %p
                      %a.articles_i_caption_more{href: "#item5", data: {url: "/data/show_bonuses", scroll: "true"}} далее
      %footer.section_footer
        %nav.tx.__right
          %ul.pagination.__page
            %li.pagination_i
              %a.pagination_i_a.__current{href: "#"} 1
            %li.pagination_i
              %a.pagination_i_a{href: "#"} 2
            %li.pagination_i
              %a.pagination_i_a{href: "#"} 3
            %li.pagination_i
              %a.pagination_i_a{href: "#"} 4
            %li.pagination_i
              %a.pagination_i_a{href: "#"} 5
            %li.pagination_i
              %a.pagination_i_a{href: "#"} 6
            %li.pagination_i
              %a.pagination_i_a{href: "#"} 7
            %li.pagination_i
              %a.pagination_i_a{href: "#"} 8
            %li.pagination_i
              %a.pagination_i_a{href: "#"} 9

  %section.blocks.p-t_5.p-b_6{role: "region", "aria-label" => "Summary info"}
    = haml 'views/common/_block_common'.to_sym

  :javascript
    $(function() {
      var hash = window.location.hash;
      if(hash) {
        var url = $(hash).find('.articles_i_caption_more').data('url');
        $.ajax({
          url: url,
          success: function(response) {
            $(hash).find('.articles_i_announcement').hide();
            $(hash).find('.articles_i_announcement').after(response);
            $(hash).find('.articles_i_show').show();
          },
          error: function() {
            alert('Error load resources');
          }
        });
      }
    });