%header#header.header.__yellow{role: "banner"}
  .ctn
    = haml 'views/layouts/_header'.to_sym

%main#main.main{role: "main"}

  %section.section.p-t_6.p-b_4{role: "region", "aria-label" => "Bonuses"}
    .ctn
      %header.section_header.m-b_1
        %h1.tx.__upper.__minor Бонусная программа
        %nav.breadcrumbs
          %a{href: "/", class: "breadcrumbs_i"} Главная
          %i.fa.fa-chevron-right
          %span.breadcrumbs_i Бонусная программа
      %section.section_main.m-b_3
        .articles.__bonuses

          %figure.articles_i.__green.brick
            .articles_i_announcement
              .grid
                .grid-i.__grid-3>
                  .articles_i_photo
                    %img{src: "/assets/images/blank.gif", width: "170", height: "130", class: "c-bg __gray"}
                .grid-i.__grid-8>
                  %figcaption.articles_i_caption
                    %h2.articles_i_caption_t
                      %a{href: "#"} Срочное сообщение!
                    %p В&nbsp;целях обновления и&nbsp;оптимизации было приостановлено действие бонусной программы сети магазинов LEGO с&nbsp;14:00 31&nbsp;октября до&nbsp;08:00 1&nbsp;ноября. В&nbsp;это время списание баллов для оплаты покупки по&nbsp;бонусной карте было недоступно. Начисление баллов за&nbsp;покупку будет произведено в&nbsp;течение 14&nbsp;дней.
                    %p
                      %a{href: "#", class: "articles_i_caption_more", data: {url: "/data/show_bonuses"}} далее
          %figure.articles_i.__red.brick
            .articles_i_announcement
              .grid
                .grid-i.__grid-3>
                  .articles_i_photo
                    %img{src: "/assets/images/blank.gif", width: "170", height: "130", class: "c-bg __gray"}
                .grid-i.__grid-8>
                  %figcaption.articles_i_caption
                    %h2.articles_i_caption_t
                      %a{href: "#"} Срочное сообщение!
                    %p В&nbsp;целях обновления и&nbsp;оптимизации было приостановлено действие бонусной программы сети магазинов LEGO с&nbsp;14:00 31&nbsp;октября до&nbsp;08:00 1&nbsp;ноября. В&nbsp;это время списание баллов для оплаты покупки по&nbsp;бонусной карте было недоступно. Начисление баллов за&nbsp;покупку будет произведено в&nbsp;течение 14&nbsp;дней.
                    %p
                      %a{href: "#", class: "articles_i_caption_more", data: {url: "/data/show_bonuses"}} далее
          %figure.articles_i.__lime.brick
            .articles_i_announcement
              .grid
                .grid-i.__grid-3>
                  .articles_i_photo
                    %img{src: "/assets/images/blank.gif", width: "170", height: "130", class: "c-bg __gray"}
                .grid-i.__grid-8>
                  %figcaption.articles_i_caption
                    %h2.articles_i_caption_t
                      %a{href: "#"} Срочное сообщение!
                    %p В&nbsp;целях обновления и&nbsp;оптимизации было приостановлено действие бонусной программы сети магазинов LEGO с&nbsp;14:00 31&nbsp;октября до&nbsp;08:00 1&nbsp;ноября. В&nbsp;это время списание баллов для оплаты покупки по&nbsp;бонусной карте было недоступно. Начисление баллов за&nbsp;покупку будет произведено в&nbsp;течение 14&nbsp;дней.
                    %p
                      %a{href: "#", class: "articles_i_caption_more", data: {url: "/data/show_bonuses"}} далее
          %figure.articles_i.__orange.brick
            .articles_i_announcement
              .grid
                .grid-i.__grid-3>
                  .articles_i_photo
                    %img{src: "/assets/images/blank.gif", width: "170", height: "130", class: "c-bg __gray"}
                .grid-i.__grid-8>
                  %figcaption.articles_i_caption
                    %h2.articles_i_caption_t
                      %a{href: "#"} Срочное сообщение!
                    %p В&nbsp;целях обновления и&nbsp;оптимизации было приостановлено действие бонусной программы сети магазинов LEGO с&nbsp;14:00 31&nbsp;октября до&nbsp;08:00 1&nbsp;ноября. В&nbsp;это время списание баллов для оплаты покупки по&nbsp;бонусной карте было недоступно. Начисление баллов за&nbsp;покупку будет произведено в&nbsp;течение 14&nbsp;дней.
                    %p
                      %a{href: "#", class: "articles_i_caption_more", data: {url: "/data/show_bonuses"}} далее
          %figure.articles_i.__yellow.brick
            .articles_i_announcement
              .grid
                .grid-i.__grid-3>
                  .articles_i_photo
                    %img{src: "/assets/images/blank.gif", width: "170", height: "130", class: "c-bg __gray"}
                .grid-i.__grid-8>
                  %figcaption.articles_i_caption
                    %h2.articles_i_caption_t
                      %a{href: "#"} Срочное сообщение!
                    %p В&nbsp;целях обновления и&nbsp;оптимизации было приостановлено действие бонусной программы сети магазинов LEGO с&nbsp;14:00 31&nbsp;октября до&nbsp;08:00 1&nbsp;ноября. В&nbsp;это время списание баллов для оплаты покупки по&nbsp;бонусной карте было недоступно. Начисление баллов за&nbsp;покупку будет произведено в&nbsp;течение 14&nbsp;дней.
                    %p
                      %a{href: "#", class: "articles_i_caption_more", data: {url: "/data/show_bonuses"}} далее
      %footer.section_footer
        %nav.tx.__right
          %ul.pagination.__page
            %li.pagination_i
              %a{href: "#", class: "pagination_i_a __current"} 1
            %li.pagination_i
              %a{href: "#", class: "pagination_i_a"} 2
            %li.pagination_i
              %a{href: "#", class: "pagination_i_a"} 3
            %li.pagination_i
              %a{href: "#", class: "pagination_i_a"} 4
            %li.pagination_i
              %a{href: "#", class: "pagination_i_a"} 5
            %li.pagination_i
              %a{href: "#", class: "pagination_i_a"} 6
            %li.pagination_i
              %a{href: "#", class: "pagination_i_a"} 7
            %li.pagination_i
              %a{href: "#", class: "pagination_i_a"} 8
            %li.pagination_i
              %a{href: "#", class: "pagination_i_a"} 9

  %section.blocks.p-t_5.p-b_6{role: "region", "aria-label" => "Summary info"}
    = haml 'views/common/_block_common'.to_sym