%header#header.header.__yellow{role: "banner"}
  .ctn
    = haml 'views/layouts/_header'.to_sym

%main#main.main{role: "main"}

  %section.section.p-t_6.p-b_4{role: "region", "aria-label" => "Catalog"}
    .ctn
      %header.section_header.m-b_2
        .grid
          .grid-i.__grid-4>
            %h1.tx.__upper.__minor Каталог LEGO
            %nav.breadcrumbs
              %a.breadcrumbs_i{href: "/"} Главная
              %i.fa.fa-chevron-right
              %span.breadcrumbs_i Каталог
          .grid-i.__grid-8>
            = haml 'views/common/_catalog_filter_horz'.to_sym
      %section.section_main
        .grid
          .grid-i.__grid-3>
            = haml 'views/common/_catalog_filter_vert'.to_sym
          .grid-i.__grid-9>
            .catalog.__series
              .catalog_row
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_superheroes.png", alt: "Lego Super Heroes"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/superheroes.png", width: 184, height: 134, alt: "Lego Super Heroes"}
                  .m-b_3
                    %p.tx.__upper Lego Super Heroes
                  %footer
                    %p 6-14 лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_galaxy.png", alt: "Lego Galaxy Squad"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/galaxy.png", width: 184, height: 134, alt: "Lego Galaxy Squad"}
                  .m-b_3
                    %p.tx.__upper Lego Galaxy Squad
                  %footer
                    %p 7-14 лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_chima.png", alt: "Lego Legends Of Chima"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/chima.png", width: 184, height: 134, alt: "Lego Legends Of Chima"}
                  .m-b_3
                    %p.tx.__upper Lego Legends Of Chima
                  %footer
                    %p 6-14 лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_lotr.png", alt: "The Hobbit & The Lord Of The Rings"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/lotr.png", width: 184, height: 134, alt: "The Hobbit & The Lord Of The Rings"}
                  .m-b_3
                    %p.tx.__upper The Hobbit &&nbsp;The Lord Of&nbsp;The Rings
                  %footer
                    %p 8-14 лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_friends.png", alt: "Lego Friends"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/friends.png", width: 184, height: 134, alt: "Lego Friends"}
                  .m-b_3
                    %p.tx.__upper Lego Friends
                  %footer
                    %p 5-12 лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_city.png", alt: "Lego City"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/city.png", width: 184, height: 134, alt: "Lego City"}
                  .m-b_3
                    %p.tx.__upper Lego City
                  %footer
                    %p 5-12 лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_duplo.png", alt: "Lego Duplo"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/duplo.png", width: 184, height: 134, alt: "Lego Duplo"}
                  .m-b_3
                    %p.tx.__upper Lego Duplo
                  %footer
                    %p 2-6 лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_ninjago.png", alt: "Lego Ninjago"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/ninjago.png", width: 184, height: 134, alt: "Lego Ninjago"}
                  .m-b_3
                    %p.tx.__upper Lego Ninjago
                  %footer
                    %p 6-14 лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_technic.png", alt: "Lego Technic"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/technic.png", width: 184, height: 134, alt: "Lego Technic"}
                  .m-b_3
                    %p.tx.__upper Lego Technic
                  %footer
                    %p 7-16 лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_hero.png", alt: "Lego Hero Factory"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/hero.png", width: 184, height: 134, alt: "Lego Hero Factory"}
                  .m-b_3
                    %p.tx.__upper Lego Hero Factory
                  %footer
                    %p 6+ лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_starwars.png", alt: "Lego Star Wars"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/starwars.png", width: 184, height: 134, alt: "Lego Star Wars"}
                  .m-b_3
                    %p.tx.__upper Lego Star Wars
                  %footer
                    %p 6-14 лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_racers.png", alt: "Lego Racers"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/racers.png", width: 184, height: 134, alt: "Lego Racers"}
                  .m-b_3
                    %p.tx.__upper Lego Racers
                  %footer
                    %p 6-14 лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/exclusive.png", width: 184, height: 134, alt: "Эксклюзивные наборы Lego"}
                  .m-b_3
                    %p.tx.__upper Эксклюзивные наборы Lego
                  %footer
                    %p 12+ лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_creator.png", alt: "Lego Creator"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/creator.png", width: 184, height: 134, alt: "Lego Creator"}
                  .m-b_3
                    %p.tx.__upper Lego Creator
                  %footer
                    %p 6-12 лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_games.png", alt: "Lego Games"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/games.png", width: 184, height: 134, alt: "Lego Games"}
                  .m-b_3
                    %p.tx.__upper Lego Games
                  %footer
                    %p 5+ лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_wear.png", alt: "Одежда Lego Wear"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/wear.png", width: 184, height: 134, alt: "Одежда Lego Wear"}
                  .m-b_3
                    %p.tx.__upper Одежда Lego Wear
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Товары для школы и дома", width: 45, height: 45}>
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/goods.png", width: 184, height: 134, alt: "Товары для школы и дома"}
                  .m-b_3
                    %p.tx.__upper Товары для&nbsp;школы и&nbsp;дома
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_minifigures.png", alt: "Lego Games"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/minifigures.png", width: 184, height: 134, alt: "Lego Minifigures"}
                  .m-b_3
                    %p.tx.__upper Lego Minifigures
                  %foote
                    %p 5+ лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                    %img.va-m{src: "/assets/images/series/logo_mindstorms.png", alt: "Lego Mindstorms"}
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/mindstorms.png", width: 184, height: 134, alt: "Lego Mindstorms"}
                  .m-b_3
                    %p.tx.__upper Lego Mindstorms
                  %footer
                    %p 10+ лет
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/services.png", width: 184, height: 134, alt: "Услуги"}
                  .m-b_3
                    %p.tx.__upper Услуги
                %article.catalog_i{onclick: "location.href='/catalog'"}>
                  %header
                    %img.va-m{src: "/assets/images/logo_s.png", alt: "Lego", width: 45, height: 45}>
                  .m-b_1
                    %img.va-t{src: "/assets/images/series/services.png", width: 184, height: 134, alt: "Услуги"}
                  .m-b_3
                    %p.tx.__upper Услуги

  %section.blocks.p-t_5.p-b_6{role: "region", "aria-label" => "Summary info"}
    .ctn
      = haml 'views/common/_block_common'.to_sym