%header#header.header.__yellow{role: "banner"}
  .ctn
    = haml 'views/layouts/_header'.to_sym

%main#main.main{role: "main"}

  %section.section.p-t_6.p-b_4{role: "region", "aria-label" => "Contacts"}
    .ctn
      %header.section_header.m-b_4
        %h1.tx.__upper.__minor Контакты
        %nav.breadcrumbs
          %a.breadcrumbs_i{href: "/"} Главная
          %i.fa.fa-chevron-right
          %span.breadcrumbs_i Контакты
      %section.section_main.m-b_3
        .contacts.m-b_6
          %table.contacts_table
            %tbody
              %tr
                %td.contacts_table_name Отдел Развития и&nbsp;аренды
                %td.contacts_table_details
                  %p
                    %label E-mail:
                    %a{href: "mailto: stenko@inventive.ru"} stenko@inventive.ru 
                %td.contacts_table_info Предложения по&nbsp;развитию сети, открытию новых магазинов и&nbsp;аренде торговых площадей
              %tr
                %td.contacts_table_name Отдел кадров
                %td.contacts_table_details
                  %p
                    %label Тел:
                    %span (968) 6800255
                  %p.m-b_1
                    %label E-mail:
                    %a{href: "mailto: hr@mir-kubikov.ru"} hr@mir-kubikov.ru
                  %p
                    %label
                      %i.ico.__29.__clock.va-m
                      &nbsp;
                      в будни: с 10.00 до 19.00
                %td.contacts_table_info Соискателям на&nbsp;вакансии директор магазина или продавец-консультант
              %tr
                %td.contacts_table_name Отдел корпоративных продаж
                %td.contacts_table_details
                  %p
                    %label Тел:
                    %span (495) 6516287
                  %p
                    %label E-mail:
                    %a{href: "mailto: b2b@mir-kubikov.ru"} b2b@mir-kubikov.ru
                %td.contacts_table_info Корпоративные продажи и&nbsp;закупки небольших партий товаров без цели последующей перепродажи
              %tr
                %td.contacts_table_name Администрация
                %td.contacts_table_details
                  %p
                    %label E-mail:
                    %a{href: "mailto: lego@mir-kubikov.ru"} lego@mir-kubikov.ru
                %td.contacts_table_info Отзывы о&nbsp;работе магазинов сети LEGO и&nbsp;качестве обслуживания, вопросы о&nbsp;бонусной программе сети магазинов LEGO
              %tr
                %td.contacts_table_name Группа «ВКонтакте»
                %td.contacts_table_details
                  %p
                    %label Url:
                    %a{href: "//vk.com/legostores"} vk.com/legostores
                %td.contacts_table_info Сеть магазинов LEGO в социальных сетях

        %article.cnt.m-b_3
          %h1.tx.__upper.__minor Сотрудничество
          %p Сеть монобрендовых магазинов LEGO представлена на&nbsp;российском рынке с&nbsp;2009&nbsp;года, является независимой коммерческой структурой и&nbsp;входит в&nbsp;группу компаний Inventive Retail Group.
          %p Розничные магазины сети LEGO открыты в&nbsp;более чем 20&nbsp;городах России. Сеть продолжает активно развиваться, предлагая своим покупателям самый широкий ассортимент оригинальной продукции LEGO, высокое качество обслуживания, бонусные программы, акции и&nbsp;скидки.
          %p Сеть магазинов LEGO работает напрямую с&nbsp;представительством LEGO Group в&nbsp;России и&nbsp;предоставляет гарантию на&nbsp;все товары. Так как сеть не&nbsp;является официальным представителем LEGO в&nbsp;России, мы&nbsp;не&nbsp;обладаем полномочиями по&nbsp;продаже франшизы магазинов LEGO, консультациям по&nbsp;открытию магазинов и&nbsp;организации продаж продукции LEGO на&nbsp;территории России. Также мы&nbsp;не&nbsp;продаем продукцию оптом для реализации другими магазинами.
        %article.info-block
          %header.info-block_header.m-b_3
            %p Сеть магазинов LEGO открыта для сотрудничества по&nbsp;следующим&nbsp;направлениям:
          .info-block_body
            %ol
              %li{data: {count: 1}}
                %b Аренда торговых площадей в&nbsp;торгово-развлекательных центрах.
                %p Рассмотрим предложения по&nbsp;аренде торговых площадей в&nbsp;торговых центрах с&nbsp;высоким потребительским трафиком на&nbsp;территории России. Ваши предложения направляйте по&nbsp;адресу: <a href="mailto: stenko@inventive.ru">stenko@inventive.ru</a>
              %li{data: {count: 2}}
                %b Корпоративные продажи и&nbsp;закупки небольших партий товаров.
                %p По&nbsp;вопросам корпоративных продаж и&nbsp;закупок небольших партий товаров без цели последующей перепродажи, а&nbsp;также аналогичным предложениям обращайтесь в&nbsp;отдел корпоративных продаж по&nbsp;телефону: +7 (495) 651-62-87 или электронному адресу: <a href="mailto: b2b@mir-kubikov.ru">b2b@mir-kubikov.ru</a>

  %section.blocks.p-t_5.p-b_6{role: "region", "aria-label" => "Summary info"}
    .ctn
      .m-b_5
        = haml 'views/common/_block_feedback'.to_sym
      = haml 'views/common/_block_common'.to_sym