%header#header.header.__yellow{role: "banner"}
  .ctn
    = haml 'views/layouts/_header'.to_sym

%main#main.main{role: "main"}

  %section.section.p-t_6.p-b_4{role: "region", "aria-label" => "Contacts"}
    .ctn
      %header.section_header.m-b_4
        %h1.tx.__upper.__minor Обратная связь
        %nav.breadcrumbs
          %a.breadcrumbs_i{href: "/"} Главная
          %i.fa.fa-chevron-right
          %span.breadcrumbs_i Обратная связь
      %section.section_main.m-b_3
        .m-b_6
          .feedback-block.brick
            %header.feedback-block_header
              %p.m-b_2
                Если хотите поблагодарить наших сотрудников или, наоборот,
                %br
                сообщить о&nbsp;недопустимом обращении с&nbsp;вами, напишите нам. 
              %p Мы&nbsp;гарантируем конфиденциальность ваших персональных данных.
            .feedback-block_body
              %form.form
                %div.m-b_6
                  .form_row
                    %label.form_label.__l Имя
                    %input.form_text.grid-i.__grid-3{type: "text"}
                  .form_row
                    %label.form_label.__l Город
                    %input#autocomplete.form_text.grid-i.__grid-3{type: "text"}
                  .form_row
                    %label.form_label.__l E-mail
                    %input.form_text.grid-i.__grid-3{type: "text"}
                  .form_row
                    %label.form_label.__l Телефон
                    %input#autocomplete.form_text.__phone.grid-i.__grid-3{type: "text"}
                %div
                  .form_row
                    %label.form_label.__l Тема сообщения
                    %input.form_text.grid-i.__grid-7{type: "text"}
                  .form_row
                    %label.form_label.__l Категория
                    .form_select.form_el.__fake.grid-i.__grid-3
                      %p &nbsp;
                      %select.form_select.form_el.__real
                        %option{selected: "selected"} Общие вопросы
                        %option Пожелания и рекомендации
                        %option Благодарность
                        %option Жалоба
                        %option Карта почетного клиента
                  .form_row
                    %label.form_label.__l Сообщение
                    %textarea.form_textarea.grid-i.__grid-7{rows: 4}
                  .form_row.m-b_3
                    %label.form_label.__l Код с картинки
                    %input.form_text.grid-i.__grid-1{type: "text"}
                    %img.feedback-block_captcha{src: "/assets/images/fake/captcha.png", alt: ""}
                    %a.a.__pseudo{href: "#"} показать другую картинку
                  .form_row
                    %input.form_button.__red.__l.grid-i.__grid-3{type: "submit", value: "Отправить"}        
          
  %section.blocks.p-t_5.p-b_6{role: "region", "aria-label" => "Summary info"}
    .ctn      
      .m-t_3
        = haml 'views/common/_block_common'.to_sym