%header#header.header.__yellow{role: "banner"}
  .ctn
    = haml 'views/layouts/_header'.to_sym

%main#main.main{role: "main"}

  %section.section.p-t_6.p-b_5{role: "region", "aria-label" => "Jobs"}
    .ctn
      %header.section_header.m-b_2
        %h1.tx.__upper.__minor Вакансии
        %nav.breadcrumbs
          %a{href: "/", class: "breadcrumbs_i"} Главная
          %i.fa.fa-chevron-right
          %span.breadcrumbs_i Вакансии
      %section.section_main
        %article.jobs.m-b_3
          %ol
            %li{data: {count: 1}}
              %span ХОТИТЕ РАБОТАТЬ В МОЛОДОМ И ДРУЖНОМ КОЛЛЕКТИВЕ?
            %li{data: {count: 2}}
              %span НЕРАВНОДУШНЫ К БРЕНДУ LEGO?
            %li{data: {count: 3}}
              %span ИЩЕТЕ НОВУЮ ИНТЕРЕСНУЮ РАБОТУ С ПЕРСПЕКТИВАМИ КАРЬЕРНОГО РОСТА?
              %article
                %p Тогда мы&nbsp;будем рады видеть вас в&nbsp;своей команде.
                %p Сеть магазинов LEGO приглашает молодых и&nbsp;активных людей на&nbsp;позиции директора магазина или продавца-консультанта. Если вас заинтересует какая-либо из&nbsp;наших вакансий, вы&nbsp;сможете связаться с&nbsp;нами по&nbsp;указанным ниже контактам.
        %article.info-block
          %header.info-block_header.m-b_3
            %p ОТДЕЛ КАДРОВ
          .info-block_body
            %table
              %thead
                %tr
                  %th Телефон
                  %th Е-mail
                  %th Время работы
              %tbody
                %tr
                  %td 8 968 680 02 55
                  %td HR@MIR-KUBIKOV.RU
                  %td в будни: с 10.00 до 19.00

  %section.blocks.p-t_5.p-b_6{role: "region", "aria-label" => "Summary info"}
    .m-b_7
      %section
        .ctn

          %article.jobs-item.brick.m-b_3
            %header.jobs-item_header
              .grid
                .grid-i.__grid-1.va-m>
                  %img{src: "/assets/images/lego/man_01.png", alt: "ПРОДАВЕЦ-КОНСУЛЬТАНТ", width: "100%"}
                .grid-i.__grid-6.va-m>
                  %h2.tx.__upper
                    %a{href: "#", class: "jobs-item_more"} ПРОДАВЕЦ-КОНСУЛЬТАНТ
                .grid-i.__grid-4.va-m>
                  %p Москва, Санкт-Петербург, Сургут, Самара, Красноярск, Иваново, Краснодар
            .jobs-item_body
              .grid
                .grid-i.__grid-2.__prefix-1>
                  %p
                    %b Обязанности
                .grid-i.__grid-8>
                  %p Демонстрация и продажа детских товаров LEGO (игрушки, конструкторы)
                  %p Выполнение личного плана продаж
                  %p Обслуживание покупателей в соответствии с корпоративными стандартами
                  %p Работа на кассе, выкладка продукции на витрины по стандартам компании
                  %p Контроль за выполнением плана магазина
                  %p Контроль за работой торгового персонала
                  %p Выполнение административных функций в отсутствии управляющего магазина
                .grid-i.__grid-2.__prefix-1>
                  %p
                    %b Требования
                .grid-i.__grid-8>
                  %p Знание кассовой дисциплины и финансовой отчетности
                  %p Опыт работы с программой 1С
                  %p Активная жизненная позиция
                  %p Грамотная речь
                .grid-i.__grid-2.__prefix-1>
                  %p
                    %b Условия
                .grid-i.__grid-8
                  %p Интересная работа с мировыми брендами в крупной, стабильной компании
                  %p Сменный график работы 5/2 (выходные предоставляются по скользящему графику)
                  %p Оклад и ежемесячная премия по итогам работы
                  %p Оформление согласно трудовому законодательству РФ
                  %p Возможность карьерного роста и профессионального развития
                  %p Скидки для сотрудников на продукцию во всех магазинах группы компаний

          %article.jobs-item.brick.m-b_3
            %header.jobs-item_header
              .grid
                .grid-i.__grid-1.va-m>
                  %img{src: "/assets/images/lego/man_02.png", alt: "СТАРШИЙ ПРОДАВЕЦ", width: "100%"}
                .grid-i.__grid-6.va-m>
                  %h2.tx.__upper
                    %a{href: "#", class: "jobs-item_more"} СТАРШИЙ ПРОДАВЕЦ
                .grid-i.__grid-4.va-m>
                  %p Красноярск, Магнитогорск
            .jobs-item_body
              .grid
                .grid-i.__grid-2.__prefix-1>
                  %p
                    %b Обязанности
                .grid-i.__grid-8>
                  %p Демонстрация и продажа детских товаров LEGO (игрушки, конструкторы)
                  %p Выполнение личного плана продаж
                  %p Обслуживание покупателей в соответствии с корпоративными стандартами
                  %p Работа на кассе, выкладка продукции на витрины по стандартам компании
                  %p Контроль за выполнением плана магазина
                  %p Контроль за работой торгового персонала
                  %p Выполнение административных функций в отсутствии управляющего магазина
                .grid-i.__grid-2.__prefix-1>
                  %p
                    %b Требования
                .grid-i.__grid-8>
                  %p Знание кассовой дисциплины и финансовой отчетности
                  %p Опыт работы с программой 1С
                  %p Активная жизненная позиция
                  %p Грамотная речь
                .grid-i.__grid-2.__prefix-1>
                  %p
                    %b Условия
                .grid-i.__grid-8
                  %p Интересная работа с мировыми брендами в крупной, стабильной компании
                  %p Сменный график работы 5/2 (выходные предоставляются по скользящему графику)
                  %p Оклад и ежемесячная премия по итогам работы
                  %p Оформление согласно трудовому законодательству РФ
                  %p Возможность карьерного роста и профессионального развития
                  %p Скидки для сотрудников на продукцию во всех магазинах группы компаний

          %article.jobs-item.brick
            %header.jobs-item_header
              .grid
                .grid-i.__grid-1.va-m>
                  %img{src: "/assets/images/lego/man_03.png", alt: "УПРАВЛЯЮЩИЙ МАГАЗИНОМ", width: "100%"}
                .grid-i.__grid-6.va-m>
                  %h2.tx.__upper
                    %a{href: "#", class: "jobs-item_more"} УПРАВЛЯЮЩИЙ МАГАЗИНОМ
                .grid-i.__grid-4.va-m>
                  %p Москва, Рязань, Красноярск
            .jobs-item_body
              .grid
                .grid-i.__grid-2.__prefix-1>
                  %p
                    %b Обязанности
                .grid-i.__grid-8>
                  %p Демонстрация и продажа детских товаров LEGO (игрушки, конструкторы)
                  %p Выполнение личного плана продаж
                  %p Обслуживание покупателей в соответствии с корпоративными стандартами
                  %p Работа на кассе, выкладка продукции на витрины по стандартам компании
                  %p Контроль за выполнением плана магазина
                  %p Контроль за работой торгового персонала
                  %p Выполнение административных функций в отсутствии управляющего магазина
                .grid-i.__grid-2.__prefix-1>
                  %p
                    %b Требования
                .grid-i.__grid-8>
                  %p Знание кассовой дисциплины и финансовой отчетности
                  %p Опыт работы с программой 1С
                  %p Активная жизненная позиция
                  %p Грамотная речь
                .grid-i.__grid-2.__prefix-1>
                  %p
                    %b Условия
                .grid-i.__grid-8
                  %p Интересная работа с мировыми брендами в крупной, стабильной компании
                  %p Сменный график работы 5/2 (выходные предоставляются по скользящему графику)
                  %p Оклад и ежемесячная премия по итогам работы
                  %p Оформление согласно трудовому законодательству РФ
                  %p Возможность карьерного роста и профессионального развития
                  %p Скидки для сотрудников на продукцию во всех магазинах группы компаний

    = haml 'views/common/_block_common'.to_sym