!!!
%html.no-js{lang: 'ru-RU'}
  %head
    %title Сеть магазинов Lego
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render

  %body#page.page
    = Haml::Engine.new(File.read('views/alerts/_ie.haml')).render
    = Haml::Engine.new(File.read('views/alerts/_no-js.haml')).render

    -# Content

    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render