%header#header.header.__yellow{role: "banner"}
  .ctn
    = haml 'views/layouts/_header'.to_sym

%main#main.main{role: "main"}

  %section.section.p-t_6.p-b_4{role: "region", "aria-label" => "Search"}
    .ctn
      %header.section_header.m-b_2
        %h1.tx.__upper.__minor
          По запросу "
          %span.tx.__major кубики лего
          " найдено 198 результатов
        %nav.breadcrumbs
          %a{href: "/", class: "breadcrumbs_i"} Главная
          %i.fa.fa-chevron-right
          %span.breadcrumbs_i Поиск
      %section.section_main
        .catalog.__product.m-b_3
          - 1.upto(3) do
            .grid.catalog_row
              - 1.upto(4) do
                .grid-i.__grid-3>
                  = haml 'views/common/_catalog_item'.to_sym
        %nav.tx.__center
          %ul.pagination.__catalog
            %li.pagination_i
              %a{href: "#", class: "pagination_i_a __current"} 1
            %li.pagination_i
              %a{href: "#", class: "pagination_i_a"} 2
            %li.pagination_i
              %a{href: "#", class: "pagination_i_a"} 3
            %li.pagination_i
              %a{href: "#", class: "pagination_i_a"} 4
            %li.pagination_i
              %a{href: "#", class: "pagination_i_a"} 5

  %section.blocks.p-t_5.p-b_6{role: "region", "aria-label" => "Summary info"}
    = haml 'views/common/_block_common'.to_sym