%footer#footer.footer{role: "contentinfo"}
  .ctn
    .grid
      .grid-i.__grid-8
        %article.brand
          %p
            Сеть магазинов&nbsp;
            %span.tx.__brand Lego
        %nav
          %ul
            %li
              %a{}
        %p &copy;&nbsp;2013&nbsp;LEGO, логотип LEGO, DUPLO, BIONICLE, MINDSTORMS, KNIGHTS KINGDOM и&nbsp;EXO-FORCE логотипы, а&nbsp;также кубик LEGO и&nbsp;минифигурки LEGO являются торговой маркой компании LEGO Group.