%footer#footer.footer{role: "contentinfo"}
  .ctn
    .grid-i.__grid-9
      %article.brand
        %p
          Сеть магазинов&nbsp;
          %span.tx.__major Lego
          &nbsp;&nbsp;&nbsp;&nbsp;
          %span.tx.__major 8 800 222-55-22
      %nav
        %ul.footer_pages
          %li.footer_pages_i
            %a{href: "/catalog", class: "footer_pages_i_a"} Каталог
          %li.footer_pages_i
            %a{href: "#", class: "footer_pages_i_a"} Акции
          %li.footer_pages_i
            %a{href: "#", class: "footer_pages_i_a"} Бонусы
          %li.footer_pages_i
            %a{href: "#", class: "footer_pages_i_a"} Фестивали
          %li.footer_pages_i
            %a{href: "#", class: "footer_pages_i_a"} Новости
          %li.footer_pages_i
            %a{href: "#", class: "footer_pages_i_a"} Где купить
    .grid-i.__grid-3
      %p Справочная — <a href="mailto: spravka@lego.ru">spravka@lego.ru</a>
      %p Интернет-магазин — <a href="mailto: spravka@lego.ru">supportclient@lego.ru</a>
    .grid-i.__grid-9
      %p &copy;&nbsp;2013&nbsp;LEGO, логотип LEGO, DUPLO, BIONICLE, MINDSTORMS, KNIGHTS KINGDOM и&nbsp;EXO-FORCE логотипы, а&nbsp;также кубик<br>LEGO и&nbsp;минифигурки LEGO являются торговой маркой компании LEGO Group.
    .grid-i.__grid-3
      %p Разработка сайта — <a href="http://ruformat.ru" rel="nofollow">ruformat.ru</a>