%meta{charset: "utf-8"}
%meta{name: "viewport", content: "width=device-width"}
%meta{name: "format-detection", content: "telephone=no"}
%meta{name: "description", content: ""}
%meta{name: "keywords", content: ""}
%link{rel: "author", href: "humans.txt"}
%link{rel: "icon", href: "/assets/images/favicon.png"}
%link{rel: "stylesheet", href: "/assets/stylesheets/application.css"}
%script{src: "/assets/javascripts/vendor/yepnope.1.5.4-min.js"}
%script{src: "/assets/javascripts/vendor/modernizr-latest.js"}
%script{src: "/assets/javascripts/vendor/jquery-2.0.3.min.js"}
%script{src: "/assets/javascripts/vendor/jquery-ui.min.js"}
%script{src: "/assets/javascripts/vendor/underscore-min.js"}
%script{src: "/assets/javascripts/vendor/smartresize.js"}
%script{src: "/assets/javascripts/vendor/cycle2/jquery.cycle2.min.js"}
%script{src: "/assets/javascripts/vendor/cycle2/jquery.cycle2.carousel.min.js"}
%script{src: "/assets/javascripts/vendor/cycle2/jquery.cycle2.center.min.js"}
%script{src: "/assets/javascripts/vendor/cycle2/jquery.cycle2.scrollVert.min.js"}
%script{src: "/assets/javascripts/vendor/cycle2/jquery.cycle2.swipe.min.js"}
%script{src: "/assets/javascripts/vendor/jquery.arcticmodal-0.3.min.js"}
%script{src: "/assets/javascripts/vendor/accounting.min.js"}
%script{src: "/assets/javascripts/vendor/jquery.maskedinput.js"}
%script{src: "/assets/javascripts/vendor/lightbox-2.6.min.js"}
%script{src: "/assets/javascripts/jquery.extensions.js"}
%script{src: "/assets/javascripts/forms.js"}
%script{src: "/assets/javascripts/components.js"}
%script{src: "/assets/javascripts/application.js"}
%script{src: "/assets/javascripts/project.js"}
%script{src: "//vk.com/js/api/openapi.js?105"}
%script{src: "//api-maps.yandex.ru/2.0/?load=package.standard&mode=debug&lang=ru-RU"}