.dialog
  .grid-i.__grid-6
    %i.dialog_close.js-dialog_close.fa.fa-times-circle
    %h2.tx.__upper.m-b_2 Ваш город
    .grid
      .grid-i.__grid-2>
        %ul
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Москва
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Воронеж
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Екатеринбург
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Краснодар
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Астрахань
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Белгород
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Волгоград
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Калининград
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Липецк
      .grid-i.__grid-2>
        %ul
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Нижний Новгород
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Новосибирск
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Омск
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Оренбург
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Ростов на Дону
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Самара
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Саратов
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Сочи
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Сургут
      .grid-i.__grid-2>
        %ul
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Тольятти
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Тула
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Пермь
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Рязань
          %li.m-b_1
            %span.tx.__major Санкт-Петербург
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Челябинск
          %li.m-b_1
            %a{href: "#", class: "a __pseudo"} Уфа