.dialog
  .grid-i.__grid-6
    %i.dialog_close.js-dialog_close.fa.fa-times-circle
    %h2.tx.__upper.m-b_2 Проверить наличие
    .m-b_3
      %form.form
        .form_select.form_el.__fake.grid-i.__grid-3
          %p &nbsp;
          %select.form_select.form_el.__real
            %option{selected: "selected"} Выберите город
            %option Москва
            %option Смоленск
            %option Магадан
    - 1.upto(3) do
      .m-b_2
        .grid
          .grid-i.__grid-2>
            %p.tx.__xs СТЦ "МЕГА Химки"
          .grid-i.__grid-3>
            %p.tx.__xs Химки, 8 мкр., 5 км Ленинградского шоссе, пав. 5020S, 1 этаж
          .grid-i.__grid-1>
            .count.__l
      .m-b_2
        .grid
          .grid-i.__grid-2>
            %p.tx.__xs ТД "ГУМ"
          .grid-i.__grid-3>
            %p.tx.__xs Красная площадь, 3
          .grid-i.__grid-1>
            .count.__m
      .m-b_2
        .grid
          .grid-i.__grid-2>
            %p.tx.__xs ТРК "Атриум"
          .grid-i.__grid-3>
            %p.tx.__xs Земляной вал, 33 (1 этаж, №1.05)
          .grid-i.__grid-1>
            .count.__s