.dialog
  .grid-i.__grid-6
    %i.dialog_close.js-dialog_close.fa.fa-times-circle
    %h2.tx.__upper.m-b_2 Проверить наличие
    .grid
      .grid-i.__grid-3>
        %ul
          %li.m-b_1
            %a.a.__pseudo.__inner{href: "#"} <span>ТРЦ «ЕвроПарк»</span> (25)
          %li.m-b_1
            %a.a.__pseudo.__inner{href: "#"} <span>Кутузовский проспект, 26</span> (10)
          %li.m-b_1
            %a.a.__pseudo.__inner{href: "#"} <span>Ленинский проспект, д. 4а</span> (15)
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Пречистенка
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Садовая-Спасская
      .grid-i.__grid-3>
        %ul
          %li.m-b_1
            %a.a.__pseudo.__inner{href: "#"} <span>ТРЦ «ЕвроПарк»</span> (25)
          %li.m-b_1
            %a.a.__pseudo.__inner{href: "#"} <span>Кутузовский проспект, 26</span> (10)
          %li.m-b_1
            %a.a.__pseudo.__inner{href: "#"} <span>Ленинский проспект, д. 4а</span> (15)
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Пречистенка
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Садовая-Спасская