.dialog
  .grid-i.__grid-4
    %i.dialog_close.js-dialog_close.fa.fa-times-circle
    %h2.tx.__upper.m-b_2 Восстановить пароль
    %form.form
      .m-b_2
        %label.form_label.__m Ваш e-mail
        %input{type: "text", class: "form_text form_el __block"}
      .m-b_3
        %p.tx.__s Введите адрес эл.почты, который вы указывали при регистрации. Мы пришлем пароль туда.
      .grid
        .grid-i.__grid-2.va-m>
          %input{type: "submit", class: "form_button __s __red", value: "Восстановить"}