.dialog
  .grid-i.__grid-6
    %i.dialog_close.js-dialog_close.fa.fa-times-circle
    %h2.tx.__upper.m-b_2 Ваш город
    .grid
      .grid-i.__grid-2>
        %ul
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Москва
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Воронеж
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Екатеринбург
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Краснодар
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Астрахань
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Белгород
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Волгоград
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Калининград
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Липецк
      .grid-i.__grid-2>
        %ul
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Нижний Новгород
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Новосибирск
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Омск
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Оренбург
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Ростов на Дону
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Самара
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Саратов
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Сочи
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Сургут
      .grid-i.__grid-2>
        %ul
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Тольятти
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Тула
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Пермь
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Рязань
          %li.m-b_1
            %span.tx.__major Санкт-Петербург
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Челябинск
          %li.m-b_1
            %a.a.__pseudo{href: "#"} Уфа