.dialog
  .grid-i.__grid-4
    %i.dialog_close.js-dialog_close.fa.fa-times-circle
    %h2.tx.__upper.m-b_2 Вход
    %form.form
      .m-b_2
        %label Имя
        %input{type: "text", class: "form_text form_el __block"}
      .m-b_1
        %label Пароль
        %input{type: "password", class: "form_text form_el __block"}
      .m-b_3
        .grid
          .grid-i.__grid-2.va-m>
            %label.form_label
              %span.form_checkbox.form_el.__fake
                %input.form_checkbox.form_el.__real{type: "checkbox"}
              Запомнить меня
          .grid-i.__grid-2.va-m>
            .tx.__right
              %a{href: "#", class: "a __pseudo", data: {dialog: "true", url: "/dialogs/forgot"}} Забыли пароль?
      .grid
        .grid-i.__grid-2.va-m>
          %input{type: "submit", class: "form_button __l __red", value: "Войти"}
        .grid-i.__grid-2.va-m>
          .tx.__right
            %a{href: "#", class: "a __pseudo", data: {dialog: "true", url: "/dialogs/register"}} Зарегистрироваться