.dialog
  .grid-i.__grid-4
    %i.dialog_close.js-dialog_close.fa.fa-times-circle
    %h2.tx.__upper.m-b_2 Вход
    %form.form
      .m-b_2
        %label.form_label.__m Имя
        %input.form_text.form_el.__block{type: "text"}
      .m-b_1
        %label.form_label.__m Пароль
        %input.form_text.form_el.__block{type: "password"}
      .m-b_2
        .grid
          .grid-i.__grid-2.va-m>
            %label.form_label
              %span.form_checkbox.form_el.__fake
                %input.form_checkbox.form_el.__real{type: "checkbox"}
              %span.tx.__xs Запомнить меня
          .grid-i.__grid-2.va-m>
            .tx.__right
              %a.a.__pseudo.tx.__xs{href: "#", data: {dialog: "true", url: "/dialogs/forgot"}} Забыли пароль?
      .grid
        .grid-i.__grid-2.va-m>
          %input.form_button.__s.__red.grid-i.__grid-2{type: "submit", value: "Войти"}
        .grid-i.__grid-2.va-m>
          .tx.__right
            %a.a.__pseudo.tx.__xs{href: "#", data: {dialog: "true", url: "/dialogs/register"}} Зарегистрироваться