.dialog
  .grid-i.__grid-4
    %i.dialog_close.js-dialog_close.fa.fa-times-circle
    .tx.__center
      .m-b_3
        %p Сообщение об успехе, или вообще любое сообщение
      %input.form_button.__s.__red.grid-i.__grid-2.js-dialog_close{type: "submit", value: "Закрыть"}