.dialog
  .grid-i.__grid-4
    %i.dialog_close.js-dialog_close.fa.fa-times-circle
    %h2.tx.__upper.m-b_2 Регистраиця
    %form.form.m-b_2
      .m-b_2
        %label.form_label.__m Имя
        %input.form_text.form_el.__block{type: "text"}
      .m-b_2
        %label.form_label.__m Email
        %input.form_text.form_el.__block{type: "text"}
      .m-b_3
        %label.form_label.__m Пароль
        %input.form_text.form_el.__block{type: "password"}
      .grid
        .grid-i.__grid-2.va-m>
          %input.form_button.__s.__red{type: "submit", value: "Зарегистрироваться"}
        .grid-i.__grid-2.va-m>
          .tx.__right
            %nav.register-social
              %a.register-social_i{href: "#"}
                %i.fa.fa-vk
              %a.register-social_i{href: "#"}
                %i.fa.fa-facebook
              %a.register-social_i{href: "#"}
                %i.fa.fa-twitter