.dialog
  .grid-i.__grid-4
    %i.dialog_close.js-dialog_close.fa.fa-times-circle
    %h2.tx.__upper.m-b_2 Обновление информации
    %p.tx.__xs.m-b_2 Уважаемый пользователь! Вы&nbsp;вошли в&nbsp;личный кабинет с&nbsp;помощью социальной сети. Некоторые данные профиля нуждаются в&nbsp;обновлении. Пожалуйста, обновите профиль, заполнив нежеследующие контактные данные.
    %form.form.m-b_2
      .m-b_2
        %label.form_label.__m Email
        %input.form_text.form_el.__block{type: "text"}
      .m-b_2
        %label.form_label.__m Телефон
        %input.form_text.form_el.__block{type: "text"}
      .m-b_3
        %label.form_label.__m Пароль
        %input.form_text.form_el.__block{type: "password"}
      .m-b_3
        %label.form_label.__m Повтор пароль
        %input.form_text.form_el.__block{type: "password"}
      .grid
        .grid-i.__grid-2.va-m>
          %input.form_button.__s.__red{type: "submit", value: "Сохранить"}