%ul.pagination.__page
  %li.pagination_i
    %a{href: "#", class: "pagination_i_a __current"} 1
  %li.pagination_i
    %a{href: "#", class: "pagination_i_a"} 2
  %li.pagination_i
    %a{href: "#", class: "pagination_i_a"} 3
  %li.pagination_i
    %a{href: "#", class: "pagination_i_a"} 4
  %li.pagination_i
    %a{href: "#", class: "pagination_i_a"} 5
  %li.pagination_i
    %a{href: "#", class: "pagination_i_a"} 6
  %li.pagination_i
    %a{href: "#", class: "pagination_i_a"} 7
  %li.pagination_i
    %a{href: "#", class: "pagination_i_a"} 8
  %li.pagination_i
    %a{href: "#", class: "pagination_i_a"} 9