%ul.articles-filter.f-l>
  %li.articles-filter_i>
    %a.articles-filter_i_a.__l{href: '#'} 2010
  %li.articles-filter_i>
    %a.articles-filter_i_a.__l{href: '#'} 2011
  %li.articles-filter_i>
    %a.articles-filter_i_a.__l{href: '#'} 2012
  %li.articles-filter_i>
    %a.articles-filter_i_a.__l.__current{href: '#'} 2013
%ul.articles-filter.f-r>
  %li.articles-filter_i>
    %a.articles-filter_i_a.__s{href: '#'} ЯНВ
  %li.articles-filter_i>
    %a.articles-filter_i_a.__s{href: '#'} ФЕВ
  %li.articles-filter_i>
    %a.articles-filter_i_a.__s{href: '#'} МАРТ
  %li.articles-filter_i>
    %a.articles-filter_i_a.__s{href: '#'} АПР
  %li.articles-filter_i>
    %a.articles-filter_i_a.__s{href: '#'} МАЙ
  %li.articles-filter_i>
    %a.articles-filter_i_a.__s{href: '#'} ИЮНЬ
  %li.articles-filter_i>
    %a.articles-filter_i_a.__s{href: '#'} ИЮЛЬ
  %li.articles-filter_i>
    %a.articles-filter_i_a.__s{href: '#'} АВГ
  %li.articles-filter_i>
    %a.articles-filter_i_a.__s{href: '#'} СЕН
  %li.articles-filter_i>
    %a.articles-filter_i_a.__s{href: '#'} ОКТ
  %li.articles-filter_i>
    %a.articles-filter_i_a.__s{href: '#'} НОЯ
  %li.articles-filter_i>
    %a.articles-filter_i_a.__s.__current{href: '#'} ВСЕ