%ul.articles-filter.f-l>
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __l"} 2010
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __l"} 2011
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __l"} 2012
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __l __current"} 2013
%ul.articles-filter.f-r>
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __s"} ЯНВ
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __s"} ФЕВ
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __s"} МАРТ
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __s"} АПР
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __s"} МАЙ
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __s"} ИЮНЬ
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __s"} ИЮЛЬ
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __s"} АВГ
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __s"} СЕН
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __s"} ОКТ
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __s"} НОЯ
  %li.articles-filter_i>
    %a{href: "#", class: "articles-filter_i_a __s __current"} ВСЕ