%ul.pagination.__page
  %li.pagination_i
    %a.pagination_i_a.__current{href: '#'} 1
  %li.pagination_i
    %a.pagination_i_a{href: '#'} 2
  %li.pagination_i
    %a.pagination_i_a{href: '#'} 3
  %li.pagination_i
    %a.pagination_i_a{href: '#'} 4
  %li.pagination_i
    %a.pagination_i_a{href: '#'} 5
  %li.pagination_i
    %a.pagination_i_a{href: '#'} 6
  %li.pagination_i
    %a.pagination_i_a{href: '#'} 7
  %li.pagination_i
    %a.pagination_i_a{href: '#'} 8
  %li.pagination_i
    %a.pagination_i_a{href: '#'} 9