.share-block
  .share-block_t Посоветовать другу
  %nav.share-block_nav
    %a.share-block_nav_i{href: '#'}
      %i.ico.__58.__vk
    %a.share-block_nav_i{href: '#'}
      %i.ico.__58.__fb
    %a.share-block_nav_i{href: '#'}
      %i.ico.__58.__ok