.grid
  .grid-i.__grid-6>
    .slider.__text.m-b_2
      .slides{data: {cycle_pager: "#slider-pager-text-1"}}
        - 1.upto(3) do
          .slide
            %article
              %h2.m-b_2 Игрушки LEGO<sup class="tx __xxs va-t">®</sup> для детей и родителей
              %p.tx.__l.m-b_2
                %b Конструкторы LEGO&nbsp;&mdash;&nbsp;
                это уникальные игрушки, которые завоевали умы и&nbsp;сердца многих людей во&nbsp;всем мире, от&nbsp;мала до&nbsp;велика. Ведь это нечто большее, чем просто кубики. С&nbsp;помощью конструкторов можно окунуться в&nbsp;сказку, в&nbsp;которой все будет так, как&nbsp;Вы пожелаете.
              %p.tx.__xs В&nbsp;наших магазинах ЛЕГО представлены самые разнообразные игры и&nbsp;конструкторы LEGO, а&nbsp;также аксессуары, одежда и&nbsp;приятные мелочи от&nbsp;производителя. Они подарят Вашему ребенку хорошее настроение и&nbsp;положительные эмоции, ведь из&nbsp;них можно создавать целые миры своими руками. Игры ЛЕГО способствуют развитию не&nbsp;только мелкой моторики малыша, но&nbsp;и&nbsp;логического мышления и&nbsp;памяти. Подарив ребенку один из&nbsp;наборов, Вы&nbsp;совместите приятное с&nbsp;полезным. Детские игрушки ЛЕГО изготовлены из&nbsp;безопасного и&nbsp;качественного материала, при производстве используется многоступенчатая система контроля качества. Они помогают детям узнать легенды прошлого, играть в&nbsp;отважных героев будущего и&nbsp;воссоздавать любимые фильмы. Любые фантазии и&nbsp;желания ребенка теперь можно воплотить в&nbsp;реальность. Магазины игрушек ЛЕГО уже открыты во&nbsp;многих крупных городах.
      #slider-pager-text-1.slider_pager
    .slider.__text
      .slides{data: {cycle_pager: "#slider-pager-text-2"}}
        - 1.upto(3) do
          .slide
            %article
              %h2.m-b_1 Почему стоит воспользоваться нашими&nbsp;услугами?
              %p.tx.__xs.m-b_2 Во-первых, на&nbsp;нашем сайте представлены лучшие товары LEGO, которые можно купить по&nbsp;рекомендованной производителем цене в&nbsp;магазинах своего города.
              %p.tx.__xs Во-вторых, периодически у&nbsp;нас проходят сезонные супер-акции, в&nbsp;которых можно участвовать и&nbsp;получать за&nbsp;это приятные сюрпризы и&nbsp;скидки до&nbsp;50%.
      #slider-pager-text-2.slider_pager
  .grid-i.__grid-6>
    %section.subscription-block
      .subscription-block_form
        %p.beta.tx.__white.m-b_2 Подпишись и узнай первым!
        %form
          %input{type: "text", class: "subscription-block_form_input m-b_1", placeholder: "Имя"}
          %input{type: "text", class: "subscription-block_form_input m-b_1", placeholder: "E-mail"}
          %input{type: "submit", class: "subscription-block_form_submit", placeholder: "Подписаться"}
        %img{src: "/assets/images/subscription.png", class: "subscription-block_form_img", alt: "", width: 275, height: 176}
      .subscription-block_vk
        %p.beta.tx.__white.m-b_2 Мы Вконтакте
        .subscription-block_vk_widget
          #vk_groups
          :javascript
            VK.Widgets.Group("vk_groups", {mode: 1, width: "392", height: "220", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 20003922);