.about-block.brick
  .m-b_3
    %img{src: '/assets/images/about.jpg', width: '100%', alt: 'Сеть магазинов Lego'}
  %figure.about-block_i>
    %a{href: '#'}
      %i.ico.__about.__1.about-block_i_ico
    %figcaption.about-block_i_caption
      %p 
        %a{href: '#'} Лет в россии
  %figure.about-block_i>
    %a{href: '#'}
      %span.about-block_i_span 45
      %i.ico.__about.__2.about-block_i_ico
    %figcaption.about-block_i_caption
      %p 
        %a{href: '#'} Магазинов
  %figure.about-block_i>
    %a{href: '#'}
      %i.ico.__about.__3.about-block_i_ico
    %figcaption.about-block_i_caption
      %p 
        %a{href: '#'} Интернет-магазин с&nbsp;доставкой и&nbsp;резетвом товара
  %figure.about-block_i>
    %a{href: '#'}
      %i.ico.__about.__4.about-block_i_ico
    %figcaption.about-block_i_caption
      %p 
        %a{href: '#'} Эксклюзивные коллекции
  %figure.about-block_i>
    %a{href: '#'}
      %i.ico.__about.__5.about-block_i_ico
    %figcaption.about-block_i_caption
      %p 
        %a{href: '#'} Интересные мероприятия для&nbsp;детей
  %figure.about-block_i>
    %a{href: '#'}
      %i.ico.__about.__6.about-block_i_ico
    %figcaption.about-block_i_caption
      %p 
        %a{href: '#'} Бонусная программа для покупок с&nbsp;выгодой