.feedback-block.brick
  %header.feedback-block_header
    %h2 Задать свой вопрос
  .feedback-block_body
    %form.form
      .form_row
        %label.form_label.__l Имя
        %input{type: "text", class: "form_text grid-i __grid-3"}
      .form_row
        %label.form_label.__l E-mail
        %input{type: "text", class: "form_text grid-i __grid-3"}
      .form_row
        %label.form_label.__l Сообщение
        %textarea{class: "form_textarea grid-i __grid-7", rows: 4}
      .form_row.m-b_3
        %label.form_label.__l Код с картинки
        %input{type: "text", class: "form_text grid-i __grid-1"}
        %img{src: "/assets/images/fake/captcha.png", class: "feedback-block_captcha", alt: ""}
        %a{href: "#", class: "a __pseudo"} показать другую картинку
      .form_row
        %input{type: "submit", class: "form_button __red __l grid-i __grid-3", value: "Отправить"}