.feedback-block.brick
  %header.feedback-block_header
    %h2 Задать свой вопрос
  .feedback-block_body
    %form.form
      .form_row
        %label.form_label.__l Имя
        %input.form_text.grid-i.__grid-3{type: "text"}
      .form_row
        %label.form_label.__l E-mail
        %input.form_text.grid-i.__grid-3{type: "text"}
      .form_row
        %label.form_label.__l Город
        %input#autocomplete.form_text.grid-i.__grid-3{type: "text"}
      .form_row
        %label.form_label.__l Сообщение
        %textarea.form_textarea.grid-i.__grid-7{rows: 4}
      .form_row.m-b_3
        %label.form_label.__l Код с картинки
        %input.form_text.grid-i.__grid-1{type: "text"}
        %img.feedback-block_captcha{src: "/assets/images/fake/captcha.png", alt: ""}
        %a.a.__pseudo{href: "#"} показать другую картинку
      .form_row
        %input.form_button.__red.__l.grid-i.__grid-3{type: "submit", value: "Отправить"}