.grid
  .grid-i.__grid-6>
    .m-b_4
      = haml 'views/common/_text_slider'.to_sym
    = haml 'views/common/_text_slider'.to_sym
  .grid-i.__grid-6>
    %section.subscription-block
      .subscription-block_form
        %p.beta.tx.__white.m-b_2 Подпишись и узнай первым!
        %form
          %input.subscription-block_form_input.m-b_1{type: "text", placeholder: "Имя"}
          %input.subscription-block_form_input.m-b_1{type: "text", placeholder: "E-mail"}
          %a.subscription-block_form_submit{href: "#"} Подписаться
          %img.subscription-block_form_img{src: "/assets/images/subscription.png", alt: "", width: 275, height: 176}
      .subscription-block_vk
        %p.beta.tx.__white.m-b_2 Мы Вконтакте
        .subscription-block_vk_widget
          #vk_groups
          :javascript
            VK.Widgets.Group("vk_groups", {mode: 1, width: "392", height: "220", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 20003922);