.share-block
  .share-block_t Посоветовать другу
  %nav.share-block_nav
    %a{href: "#", class: "share-block_nav_i"}
      %i.ico.__58.__vk
    %a{href: "#", class: "share-block_nav_i"}
      %i.ico.__58.__fb
    %a{href: "#", class: "share-block_nav_i"}
      %i.ico.__58.__ok