.catalog-filter.__vert
  %form.form
    .m-b_2
      .form_select.form_el.__fake
        %p &nbsp;
        %select.form_select.form_el.__real
          %option{selected: "selected"} серии
          %option Lego Super Heroes
          %option Lego Galaxy Squad
          %option Lego Legends Of Chima
          %option The Hobbit & The Lord Of The Rings
          %option Lego Friends
          %option Lego City
          %option Lego Duplo
          %option Lego Ninjago
          %option Lego Technic
          %option Lego Hero Factory
          %option Lego Star Wars
          %option Lego Racers
          %option Эксклюзивные наборы Lego
          %option Lego Creator
          %option Lego Games
          %option Одежда Lego Wear
          %option Товары для школы и дома
          %option Lego Minifigures
          %option Lego Mindstorms
          %option Услуги
    .m-b_4
      %label.form_label.__m цена
      .price-slider
        .price-slider_value.__min 0
        .price-slider_value.__max 22000
        .price-slider_range
    .m-b_4
      .form_select.form_el.__fake
        %p &nbsp;
        %select.form_select.form_el.__real
          %option{selected: "selected"} возраст
          %option 13
          %option 14
          %option 15
    .m-b_4
      .form_select.form_el.__fake
        %p &nbsp;
        %select.form_select.form_el.__real
          %option{selected: "selected"} пол
          %option мальчик
          %option девочка
    .m-b_4
      .form_select.form_el.__fake
        %p &nbsp;
        %select.form_select.form_el.__real
          %option{selected: "selected"} тема
          %option Тема один
          %option Тема два
          %option Тема три