%ul.pagination.__catalog
  %li.pagination_i
    %a.pagination_i_a.__current{href: '#'} 1
  %li.pagination_i
    %a.pagination_i_a{href: '#'} 2
  %li.pagination_i
    %a.pagination_i_a{href: '#'} 3
  %li.pagination_i
    %a.pagination_i_a{href: '#'} 4
  %li.pagination_i
    %a.pagination_i_a{href: '#'} 5