.catalog-filter.__vert
  %form.form
    .m-b_2
      .form_select.form_el.__fake
        %p &nbsp;
        %select.form_select.form_el.__real
          %option{selected: "selected"} серии
          %option Серия один
          %option Серия два
          %option Серия три
    .m-b_4
      %label.form_label.__m цена
      .price-slider
        .price-slider_value.__min 0
        .price-slider_value.__max 22000
        .price-slider_range
    .m-b_4
      .form_select.form_el.__fake
        %p &nbsp;
        %select.form_select.form_el.__real
          %option{selected: "selected"} возраст
          %option 13
          %option 14
          %option 15
    .m-b_4
      .form_select.form_el.__fake
        %p &nbsp;
        %select.form_select.form_el.__real
          %option{selected: "selected"} пол
          %option мальчик
          %option девочка
    .m-b_4
      .form_select.form_el.__fake
        %p &nbsp;
        %select.form_select.form_el.__real
          %option{selected: "selected"} тема
          %option Тема один
          %option Тема два
          %option Тема три