%article.catalog_i
  %header
    %a{href: '/catalog_show'}
      %img.catalog_i_img{src: "/assets/images/fake/catalog_item_#{rand(1..12)}.jpg", alt: 'Скоростной низколетящий десантный корабль и транспортный шагоход', width: 200, height: 150}
  .catalog_i_number Звездные войны <span>23523</span>
  .catalog_i_name
    %a{href: '/catalog_show'} Скоростной низколетящий десантный корабль и&nbsp;транспортный шагоход
  %footer
    .catalog_i_price.__old
      %span.format-number 25400
      руб.
    .catalog_i_price.__current
      .price.__rub.__m.format-money
        = rand(500..10000)
    .catalog_i_action
      %p.catalog_i_action_coming Скоро в продаже