.catalog-filter.__vert
  %form.form
    .m-b_2
      .form_select.form_el.__fake
        %p &nbsp;
        %select.form_select.form_el.__real
          %option{selected: "selected"} серии
          %option Lego Super Heroes
          %option Lego Galaxy Squad
          %option Lego Legends Of Chima
          %option The Hobbit & The Lord Of The Rings
          %option Lego Friends
          %option Lego City
          %option Lego Duplo
          %option Lego Ninjago
          %option Lego Technic
          %option Lego Hero Factory
          %option Lego Star Wars
          %option Lego Racers
          %option Эксклюзивные наборы Lego
          %option Lego Creator
          %option Lego Games
          %option Одежда Lego Wear
          %option Товары для школы и дома
          %option Lego Minifigures
          %option Lego Mindstorms
          %option Услуги
    .m-b_4
      %label.form_label.__m цена
      .range-slider
        .range-slider_value.__min 0
        .range-slider_value.__max 22000
        .range-slider_init.__price
    .m-b_4
      %label.form_label.__m возраст
      .range-slider
        .range-slider_value.__min 0
        .range-slider_value.__max 16
        .range-slider_init.__age

    .m-b_4
      .m-b_1
        %label.form_label.__m
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          мальчик
      .m-b_1
        %label.form_label.__m
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          девочка
      .m-b_1
        %label.form_label.__m
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          эксклюзив
      .m-b_1
        %label.form_label.__m
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          распродажа
    .m-b_4
      .form_select.form_el.__fake
        %p &nbsp;
        %select.form_select.form_el.__real
          %option{selected: "selected"} тема
          %option Тема один
          %option Тема два
          %option Тема три