%ul.pagination.__catalog
  %li.pagination_i
    %a{href: "#", class: "pagination_i_a __current"} 1
  %li.pagination_i
    %a{href: "#", class: "pagination_i_a"} 2
  %li.pagination_i
    %a{href: "#", class: "pagination_i_a"} 3
  %li.pagination_i
    %a{href: "#", class: "pagination_i_a"} 4
  %li.pagination_i
    %a{href: "#", class: "pagination_i_a"} 5