.catalog-block.brick
  %h2.tx.__upper.m-b_3
    можете продолжить выбирать товары
    %br
    (мы успеем доБАВить их в заказ)
  - 1.upto(4) do
    .grid-i.__grid-3>
      = haml 'views/common/_catalog_item'.to_sym