.share
  .share_t Посоветовать другу
  %nav.share_nav
    %a{href: "#", class: "share_nav_i"}
      %i.ico.__58.__vk
    %a{href: "#", class: "share_nav_i"}
      %i.ico.__58.__fb
    %a{href: "#", class: "share_nav_i"}
      %i.ico.__58.__ok