.single-slider.brick
  .single-slider_i{data: {rel: "chima"}}
    %a{href: "#"}
      %img.va-t{src: "/assets/images/promo/chima.png", width: "100%", alt: "Подарок королевства Чима"}
      %article.single-slider_i_tx
        .m-b_1
          %h1.tx.__upper ПОДАРОК КОРОЛЕВСТВА ЧИМА
        .m-b_1
          %p.tx.__xs Купи Чимацикл и&nbsp;конструируемую фигуру&nbsp;&mdash; получи классные аксессуары!
        .m-b_1
          %img.va-t.c-bg.__gray{src: "/assets/images/blank.gif", width: 260, height: 70}
  .single-slider_i{data: {rel: "marvel"}}
    %a{href: "#"}
      %img.va-t{src: "/assets/images/promo/marvel.png", width: "100%", alt: "Супергерои Lego"}
      %article.single-slider_i_tx
        .m-b_1
          %h1.tx.__upper Супергерои LEGO
        .m-b_1
          %p.tx.__xs Новая эксклюзивная серия LEGO<sup class="reg">&reg;</sup> Marvel Super Heroes в&nbsp;продаже во&nbsp;всех магазинах сети LEGO. Новинки только у&nbsp;нас!    
        .m-b_1
          %img.va-t.c-bg.__gray{src: "/assets/images/blank.gif", width: 260, height: 70}