.single-slider.brick
  .single-slider_i{data: {rel: "chima"}}
    %img.promo_i_img.va-t{src: "/assets/images/promo/chima.png", width: "100%", alt: "Подарок королевства Чима"}
  .single-slider_i{data: {rel: "marvel"}}
    %img.promo_i_img.va-t{src: "/assets/images/promo/marvel.png", width: "100%", alt: "Супергерои Lego"}