.promo-slider.__home
  .slider.__promo
    .slides{data: {cycle_fx: "carousel", cycle_prev: ".slider_nav.__prev.__news", cycle_next: ".slider_nav.__next.__news"}}
      .slide.brick>
        %a{href: "#", data: {rel: "chima", bg: "/assets/images/promo/bg-chima.png"}}
          %img{src: "/assets/images/fake/img_390_215_01.png", class: "va-t", width: "100%", alt: ""}
      .slide.brick>
        %a{href: "#", data: {rel: "marvel", bg: "/assets/images/promo/bg-marvel.png"}}
          %img{src: "/assets/images/fake/img_390_215_02.png", class: "va-t", width: "100%", alt: ""}
      .slide.brick>
        %a{href: "#", data: {rel: "chima", bg: "/assets/images/promo/bg-chima.png"}}
          %img{src: "/assets/images/fake/img_390_215_03.png", class: "va-t", width: "100%", alt: ""}
    %a{href: "#", class: "slider_nav __prev __news"}
      %i.fa.fa-chevron-left
    %a{href: "#", class: "slider_nav __next __news"}
      %i.fa.fa-chevron-right