.text-slider
  - 1.upto(3) do
    .text-slider_i
      %article
        %h2.m-b_2 Игрушки LEGO<sup class="tx __xxs va-t">®</sup> для детей и родителей
        %p.tx.__l.m-b_2
          %b Конструкторы LEGO&nbsp;&mdash;&nbsp;
          это уникальные игрушки, которые завоевали умы и&nbsp;сердца многих людей во&nbsp;всем мире, от&nbsp;мала до&nbsp;велика. Ведь это нечто большее, чем просто кубики. С&nbsp;помощью конструкторов можно окунуться в&nbsp;сказку, в&nbsp;которой все будет так, как&nbsp;Вы пожелаете.
        %p.tx.__xs В&nbsp;наших магазинах ЛЕГО представлены самые разнообразные игры и&nbsp;конструкторы LEGO, а&nbsp;также аксессуары, одежда и&nbsp;приятные мелочи от&nbsp;производителя. Они подарят Вашему ребенку хорошее настроение и&nbsp;положительные эмоции, ведь из&nbsp;них можно создавать целые миры своими руками. Игры ЛЕГО способствуют развитию не&nbsp;только мелкой моторики малыша, но&nbsp;и&nbsp;логического мышления и&nbsp;памяти. Подарив ребенку один из&nbsp;наборов, Вы&nbsp;совместите приятное с&nbsp;полезным. Детские игрушки ЛЕГО изготовлены из&nbsp;безопасного и&nbsp;качественного материала, при производстве используется многоступенчатая система контроля качества. Они помогают детям узнать легенды прошлого, играть в&nbsp;отважных героев будущего и&nbsp;воссоздавать любимые фильмы. Любые фантазии и&nbsp;желания ребенка теперь можно воплотить в&nbsp;реальность. Магазины игрушек ЛЕГО уже открыты во&nbsp;многих крупных городах.