:plain
  <script type="text/template" id="children">
    <div class="children_i">
      <div class="m-b_1">
        <div class="grid"><div class="grid-i __grid-2 va-m">
            <label class="form_label tx __xs">Фамилия:</label>
          </div><div class="grid-i __grid-3 va-m">
            <input class="form_el __block form_text" type="text">
          </div></div>
      </div>
      <div class="m-b_1">
        <div class="grid"><div class="grid-i __grid-2 va-m">
            <label class="form_label tx __xs">Имя:</label>
          </div><div class="grid-i __grid-3 va-m">
            <input class="form_el __block form_text" type="text">
          </div></div>
      </div>
      <div class="m-b_4">
        <div class="grid"><div class="grid-i __grid-2 va-m">
            <label class="form_label tx __xs">Дата рождения:</label>
          </div><div class="grid-i __grid-3 va-m">
            <div class="grid"><div class="grid-i __grid-1">
                <input class="form_el __block form_text" placeholder="День" type="text">
              </div><div class="grid-i __grid-1">
                <input class="form_el __block form_text" placeholder="Месяц" type="text">
              </div><div class="grid-i __grid-1">
                <input class="form_el __block form_text" placeholder="Год" type="text">
              </div></div>
          </div></div>
      </div>
    </div>
  </script>