:plain
  <script type="text/template" id="children">
    <div class="children_i">
      <div class="m-b_1">
        <div class="grid"><div class="grid-i __grid-2 va-m">
            <label class="form_label tx __xs">Фамилия:</label>
          </div><div class="grid-i __grid-4 va-m">
            <input class="form_el __block form_text" type="text">
          </div></div>
      </div>
      <div class="m-b_1">
        <div class="grid"><div class="grid-i __grid-2 va-m">
            <label class="form_label tx __xs">Имя:</label>
          </div><div class="grid-i __grid-4 va-m">
            <input class="form_el __block form_text" type="text">
          </div></div>
      </div>
      <div class="m-b_4">
        <div class="grid"><div class="grid-i __grid-2 va-m">
            <label class="form_label tx __xs">Дата рождения:</label>
          </div><div class="grid-i __grid-4 va-m">
            <div class="form_select form_el __fake">
              <p>1</p>
              <select class="form_select form_el __real">
                <option selected="selected">1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
              </select>
            </div>
            <div class="form_select form_el __fake">
              <p>Январь</p>
              <select class="form_select form_el __real">
                <option selected="selected">Январь</option>
                <option>Февраль</option>
                <option>Март</option>
                <option>Апрель</option>
                <option>Май</option>
                <option>Июнь</option>
                <option>Июль</option>
                <option>Август</option>
                <option>Сентябрь</option>
                <option>Октябрь</option>
                <option>Ноябрь</option>
                <option>Февраль</option>
              </select>
            </div>
            <div class="form_select form_el __fake">
              <p>2000</p>
              <select class="form_select form_el __real">
                <option selected="selected">2000</option>
                <option>2001</option>
                <option>2002</option>
                <option>2003</option>
                <option>2004</option>
              </select>
            </div>
          </div></div>
      </div>
    </div>
  </script>