button, input, select, textarea {
  font-family: inherit;
  &:focus {box-shadow: 0 0 .3rem .1rem rgba(41, 128, 185, .66);}
}

button, input {
  &::moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

button,
input[type="button"],
input[type="submit"] {
  -webkit-border-radius: none;  
     -webkit-appearance: none; 
}

input::-ms-clear {display: none;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

.form_row {
  &:not(:last-child) {margin-bottom: 15px;}
}

//
// .. Button, reset, submit
//
.form_button {
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: table-cell;
  font-family: $h-font-family;
  line-height: 1;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  @include prefixes(box-sizing, border-box);

  &.__xs {
    font-size: 13px;
    height: 28px;
    line-height: 28px;
  }

  &.__s {
    font-size: 13px;
    height: 40px;
  }

  &.__xm {
    font-size: 13px;
    height: 42px;
    line-height: 42px;
  }

  &.__m {
    font-size: 21px;
    height: 45px;
    line-height: 45px;
  }

  &.__l {
    border-radius: 3px;
    font-size: 21px;
    height: 58px;
    line-height: 58px;
    padding: 0 15px;
  }

  &.__red    {background-color: $red-color;}
  &.__orange {background-color: $orange-color;}
  &.__gray   {background-color: #d4d4d4;}

}
a.form_button {
  text-decoration: none;
  @include prefixes(transition, none);
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

//
// .. Text, password
//
.form_text {
  padding: $form-el-padding;
  background: $form-el-bg;
  border: $form-el-border;
  border-radius: $form-el-border-radius;
  color: $form-el-color;
  font-size: $form-el-font-size;
  line-height: $form-el-line-height;
  @include prefixes(box-sizing, border-box);
}

//
// .. Checkbox, radio, file, select,
//
.form_el {
  &.__real {cursor: pointer;}
  &.__focus {
    border-radius: .3rem;
    box-shadow: 0 0 .3rem .1rem rgba(41, 128, 185, .66);
  }
}

//
// .. Checkbox
//
.form_checkbox.__fake {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: $form-el-bg;
  border: $form-el-border;
  border-radius: $form-el-border-radius;
  @include prefixes(box-sizing, border-box);
  &[data-checked="true"]::after {
    background-color: #f7a300;
    border-radius: $form-el-border-radius;
    content:"\f00c";
    margin: -1px;
    color: #fff;
    font-family: FontAwesome;
    font-size: 1.2rem;
    text-align: center;
  }
  &[data-checked="true"][disabled]::after {opacity: .33;}
}

//
// .. Radio
//
.form_radio.__fake {
  width: 22px;
  height: 22px;
  line-height: 1.6rem;
  background: $form-el-bg;
  border: $form-el-border;
  border-radius: 50%;
  @include prefixes(box-sizing, border-box);
  &[data-checked="true"] {
    &::after {
      background-color: #eb1c24;
      border-radius: 50%;
      content: "";
      width: 12px;
      height: 12px;
      top: 50%;
      left: 50%;
      margin: -6px 0 0 -6px;
    }
    &[disabled]::after {opacity: .33;}
  }
}

//
// .. File
//
.form_file.__fake {
  padding: $form-el-padding;
  background: $form-el-bg;
  border: $form-el-border;
  border-radius: $form-el-border-radius;
  color: $form-el-color;
  cursor: pointer;
  font-size: $form-el-font-size;
  line-height: $form-el-line-height;
  @include prefixes(box-sizing, border-box);
  &::after {
    right: .4rem;
    content: "\f07c";
    width: 2.4rem;
    height: 2rem;
    line-height: 1.3;
    border: $form-el-border;
    border-radius: $form-el-border-radius;
    color: #aaa;
    font-family: FontAwesome;
    font-size: $form-el-font-size;
    text-align: center;
    @include prefixes(box-sizing, border-box);
    @include prefixes(transform, translate(0, -50%));
  }
  &[disabled]::after {opacity: .5;}
  &:not([disabled]):hover::after {border: .1em solid #aaa;}
  > p {margin-right: 2.8rem;}
}

//
// .. Select
//
.form_select.__fake {
  padding: $form-el-padding;
  background: $form-el-bg;
  border: $form-el-border;
  border-radius: $form-el-border-radius;
  color: $form-el-color;
  font-size: $form-el-font-size;
  line-height: $form-el-line-height;
  vertical-align: top;
  @include prefixes(box-sizing, border-box);
  &::after {
    right: 20px;
    content: "\f0d7";
    color: #f7a300;
    font-family: FontAwesome;
    font-size: 12px;
    @include prefixes(transform, translate(0, -50%));
  }
  &[disabled]::after {opacity: .5;}
  > p {margin-right: 2.4rem;}
}
  
//
// .. Textarea
//
.form_textarea {
  padding: $form-el-padding;
  border: $form-el-border;
  border-radius: $form-el-border-radius;
  color: $form-el-color;
  font-size: $form-el-font-size;
}

//
// .. Label
//
.form_label {
  color: #1f2650;
  &.__m {
    font-size: $form-el-font-size;
    line-height:  $form-el-line-height;
  }
  &.__l {
    font-size: 18px;
    line-height: 45px;
  }
  .form_checkbox,
  .form_radio {
    &.__fake {
      top: 6px;
      vertical-align: baseline;
    }
  }
}

//
// .. Legend
//
.form_legend {
  color: $form-el-color;
  @extend .delta;
}
  
.form {
  //
  // .. Disabled
  //
  [disabled] {
    background: darken($form-el-bg, 5%) !important;
    border-color: fade-out($form-el-border-color, .5) !important;
    color: fade-out($form-el-color, .75) !important;
    cursor: no-drop !important;
  }

  //
  // .. Reqiured
  //
  [data-required="before"]::before,
  [data-required="after"]::after {
    top: -.33rem;
    content: "\f069";
    color: fade-out($form-el-color-required, .3);
    font-family: FontAwesome;
    font-size: 70%;
    line-height: 1;
  }
  [data-required="before"]::before {margin-left: -1.5rem;}
  [data-required="after"]::after {margin-left: .25rem;}

  //
  // .. Validation
  //
  [data-valid="true"] {
    background: fade-out($form-el-color-valid-true, .9) !important;
    border-color: fade-out($form-el-color-valid-true, .3) !important;
    color: $form-el-color-valid-true !important;
    &::after {
      border-color: fade-out($form-el-color-valid-true, .6) !important;
      color: fade-out($form-el-color-valid-true, .3) !important;
    }
    &:hover::after {border-color: fade-out($form-el-color-valid-true, .3) !important;}
  }

  [data-valid="false"] {
    background: fade-out($form-el-color-valid-false, .9) !important;
    border-color: fade-out($form-el-color-valid-false, .3) !important;
    color: $form-el-color-valid-false !important;
    &::after {
      color: fade-out($form-el-color-valid-false, .3) !important;
      border-color: fade-out($form-el-color-valid-false, .6) !important;
    }
    &:hover::after {border-color: fade-out($form-el-color-valid-false, .3) !important;}
  }
}