.articles_i_show
  %header.m-b_3
    .articles_i_show_date
      %h3
        7 НОЯБРЯ
        %br
        2013
    .articles_i_show_share
      %img{src: "/assets/images/fake/share.png", width: 140, height: 84, alt: ""}
    %img{src: "/assets/images/fake/article_show_1.jpg", class: "articles_i_show_photo", width: 540, height: 345, alt: "МАСТЕР-КЛАССЫ LEGO® FRIENDS"}
  .m-b_2
    %h3.tx.__upper.m-b_1 МАСТЕР-КЛАССЫ LEGO® FRIENDS
    .cnt
      %p Благодарим всех наших постоянных клиентов за&nbsp;верность и&nbsp;активное участие в&nbsp;акциях и&nbsp;мероприятиях сети магазинов LEGO, а&nbsp;также приглашаем всех, кто ещё не&nbsp;вступил в&nbsp;клуб друзей LEGO, стать участником бонусной программы и&nbsp;открыть удивительный мир LEGO вместе с&nbsp;нами!
      %p Предлагаем ознакомиться с&nbsp;правилами участия в&nbsp;бонусной программе сети магазинов LEGO.
      %p
        * Подарочные баллы не&nbsp;удваиваются в&nbsp;связи с&nbsp;днём рождения владельца карты или его ребёнка.
        %br
        * Клиентам, оформившим бонусную карту и&nbsp;совершившим первую покупку по&nbsp;карте до&nbsp;25&nbsp;октября 2012 года будет начислено 200&nbsp;баллов. Клиентам, оформившим карту и&nbsp;совершившим первую покупку по&nbsp;карте до 25&nbsp;октября 2013 года&nbsp;&mdash; 100&nbsp;баллов.
  %footer
    .articles_i_show_gallery
      - 1.upto(4) do |i|
        .articles_i_show_gallery_i
          %a{href: "#"}
            %img{src: "/assets/images/fake/gallery_#{rand(1..4)}.jpg", width: 118, height: 118, alt: ""}
      .articles_i_show_gallery_add
        %a{href: "#"} Посмотреть еще 2

    %a{href: "#", class: "articles_i_show_close"} свернуть