.articles_i_show
  %header.m-b_3
    .articles_i_show_date
      %h3
        7 НОЯБРЯ
        %br
        2013
    .articles_i_show_share
      .pluso{data: {background: "transparent", options: "medium,round,line,horizontal,nocounter,theme=04", services: "vkontakte,facebook,twitter,odnoklassniki,moimir,google", user: "1938787731"}}
      :javascript
        pluso.start();
    %img.articles_i_show_photo{src: "/assets/images/fake/article_show_1.jpg", width: 540, height: 345, alt: "МАСТЕР-КЛАССЫ LEGO® FRIENDS"}
  .m-b_4
    %h3.tx.__upper.m-b_1 МАСТЕР-КЛАССЫ LEGO® FRIENDS
    .cnt
      %p Благодарим всех наших постоянных клиентов за&nbsp;верность и&nbsp;активное участие в&nbsp;акциях и&nbsp;мероприятиях сети магазинов LEGO, а&nbsp;также приглашаем всех, кто ещё не&nbsp;вступил в&nbsp;клуб друзей LEGO, стать участником бонусной программы и&nbsp;открыть удивительный мир LEGO вместе с&nbsp;нами!
      %p Предлагаем ознакомиться с&nbsp;правилами участия в&nbsp;бонусной программе сети магазинов LEGO.
      %p
        * Подарочные баллы не&nbsp;удваиваются в&nbsp;связи с&nbsp;днём рождения владельца карты или его ребёнка.
        %br
        * Клиентам, оформившим бонусную карту и&nbsp;совершившим первую покупку по&nbsp;карте до&nbsp;25&nbsp;октября 2012 года будет начислено 200&nbsp;баллов. Клиентам, оформившим карту и&nbsp;совершившим первую покупку по&nbsp;карте до 25&nbsp;октября 2013 года&nbsp;&mdash; 100&nbsp;баллов.
      %h3.tx.__upper Анкета
      %p Поздравляем Вас с покупкой конструктора LEGO! Чтобы продолжить участие в акции, заполните анкету и укажите индивидуальный код с чека, выданного при покупке. Примите участие в конкурсе и напишите поздравление в честь дня рождения сети монобрендовых магазинов LEGO. Авторы самых оригинальных поздравлений станут победителями конкурса и обладателями ценных призов! Главный приз — поездка в LEGOLAND® Billund Resort!
    %form.form.m-t_4
      %div.m-b_1
        .grid
          .grid-i.__grid-2.va-m> 
            %label.form_label.tx.__xs{data: {required: "before"}} Имя:
          .grid-i.__grid-3.va-m>
            %input.form_el.__block.form_text{type: "text"}
      %div.m-b_1
        .grid
          .grid-i.__grid-2.va-m> 
            %label.form_label.tx.__xs{data: {required: "before"}} Фамилия:
          .grid-i.__grid-3.va-m>
            %input.form_el.__block.form_text{type: "text"}
      %div.m-b_1
        .grid
          .grid-i.__grid-2.va-m> 
            %label.form_label.tx.__xs{data: {required: "before"}} Город:
          .grid-i.__grid-3.va-m>
            %input.form_el.__block.form_text{type: "text"}
      %div.m-b_1
        .grid
          .grid-i.__grid-2.va-m> 
            %label.form_label.tx.__xs{data: {required: "before"}} Код с чека:
          .grid-i.__grid-3.va-m>
            %input.form_el.__block.form_text{type: "text"}
      %div.m-b_1
        .grid
          .grid-i.__grid-2.va-m> 
            %label.form_label.tx.__xs{data: {required: "before"}} Номер бонусной карты:
          .grid-i.__grid-3.va-m>
            %input.form_el.__block.form_text{type: "text"}
      %div.m-b_1
        .grid
          .grid-i.__grid-2.va-m> 
            %label.form_label.tx.__xs{data: {required: "before"}} Телефон:
          .grid-i.__grid-3.va-m>
            %input.form_el.__block.form_text.__phone{type: "text"}
      %div.m-b_1
        .grid
          .grid-i.__grid-2.va-m> 
            %label.form_label.tx.__xs{data: {required: "before"}} E-mail:
          .grid-i.__grid-3.va-m>
            %input.form_el.__block.form_text{type: "text"}
      %div
        .grid
          .grid-i.__grid-2.va-m> 
            %label.form_label.tx.__xs{data: {required: "before"}} Ваше поздравление сети монобрендовых магазинов LEGO* (не более 1000 знаков):
          .grid-i.__grid-3.va-m>
            %textarea.form_el.form_textarea.__block{rows: 5}
      
  %footer
    .articles_i_show_gallery
      - 1.upto(4) do |i|
        .articles_i_show_gallery_i
          %a{href: "/assets/images/fake/article_show_1.jpg", data: {lightbox: "photo"}}
            %img{src: "/assets/images/fake/gallery_#{rand(1..4)}.jpg", width: 118, height: 118, alt: ""}
      - 1.upto(10) do |i|
        .articles_i_show_gallery_i{style: "display: none;"}
          %a{href: "/assets/images/fake/article_show_1.jpg", data: {lightbox: "photo"}}
            %img{src: "/assets/images/fake/gallery_#{rand(1..4)}.jpg", width: 118, height: 118, alt: ""}
      .articles_i_show_gallery_add
        %a{href: "#"} Посмотреть еще 10
    %a.articles_i_show_close{href: "#"} свернуть
    
  :javascript
    $('.form_text.__phone').mask('+7 (999) 999-99-99');
    $('.form_text.__card').mask('9 999999 999999');