//****************************************************************************************************
//
// .. ICONS
//
//****************************************************************************************************
.ico {
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  &.__29 {
    @include size(29px, 29px);
    background-image: url(/assets/images/icons/ico-29.png);
    &.__clock {background-position: 0 0;}
  }
  &.__35 {
     @include size(35px, 35px);
     background-image: url(/assets/images/icons/ico-35.png);
     &.__new     {background-position: 0 0;}
     &.__percent {background-position: -35px 0;}
     &.__star    {background-position: -70px 0;}
     &.__hellip  {background-position: -105px 0;}
     &.__list    {background-position: -140px 0;}
     &.__comment {background-position: -175px 0;}
  }
  &.__58 {
    @include size(58px, 58px);
    background-image: url(/assets/images/icons/ico-58.png);
    &.__vk {background-position: 0 0;}
    &.__fb {background-position: -58px 0;}
    &.__ok {background-position: -116px 0;}
  }
}