//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  padding: 30px 0 40px;
  position: relative;

  &::after {
    content: "";
    background: {
      position: left bottom;
      repeat: repeat-x;
    }
    height: 8px;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  &.__promo {

  }

  &.__yellow {
    background-color: #fbbc04;

    &::after {background-image: url(/assets/images/header-yellow.png);}

  }

}
.header_bg {

}
.header_bg_i {
  background: {
    position: center bottom;
    repeat: no-repeat;
    size: cover;
  }
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

//
// .. Pages
//
.header_pages {
  margin-bottom: 5px;

  &.__left {

    .header_pages_i {margin-right: 20px;}

  }

  &.__right {

    .header_pages_i {margin-left: 20px;}

  }

}

.header_pages_i {display: inline-block;}

.header_pages_i_a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;

  &:hover {color: #fff;}

}

//
// .. Logo
//
.logo {vertical-align: top;}

//
// .. Brand
//
.brand {
  font-family: $h-font-family;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 30px;
  text-transform: uppercase;
}

//
// .. Shops
//
.shops {padding-left: 40px;}

.shops_count {
  background-color: #fff;
  border-radius: 50%;
  color: #141f4e;
  display: inline-block;
  font:{
    family: $h-font-family;
    size: 28px;
  }
  line-height: 45px;
  margin-right: 8px;
  text-align: center;
  vertical-align: middle;
  @include size(45px, 45px);
}

.shops_label {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  vertical-align: middle;
}

//
// .. Location
//
.location {
  color: #fff;
  font-size: 14px;
  padding-left: 40px;

  a {
    color: inherit;
    span {border-color: #fff !important;}
  }

}

//
// .. Basket
//
.header_basket {
  background: url(/assets/images/basket.png) center no-repeat;
  color: #fff;
  display: inline-block;
  font: {
    family: $h-font-family;
    size: 16px;
  }
  line-height: 20px;
  padding-top: 15px;
  text: {
    align: center;
    transform: uppercase;
  }
  @include size(170px, 60px);
  @include prefixes(box-sizing, border-box);

  a {
    color: inherit;
    text-decoration: none;
  }

}

//
// .. Navigation
//
.nav {

}

.nav_i {
  display: inline-block;
  margin-right: 5px;
}

.nav_i_a {
  background-color: #fff;
  border-radius: 20px;
  color: #1e275b;
  display: inline-block;
  font: {
    family: $h-font-family;
    size: 16px;
  }
  line-height: 38px;
  padding: 0 15px;
  text: {
    decoration: none;
    transform: uppercase;
  }
  @include prefixes(transition, all .33s ease);

  &:hover {
    background-color: $major-color;
    color: #fff;
  }

}

//
// .. Search form
//
.search-form {position: relative;}

.search-form_input {
  background-color: #fff;
  border-radius: 20px;
  display: block;
  font-size: 14px;
  padding: 11px 40px 11px 15px;
  width: 100%;
}

.search-form_submit {
  background: url(/assets/images/ico-22.png) center no-repeat;
  position: absolute;
  top: 50%;
  right: 10px;
  @include size(22px, 22px);
  @include prefixes(transform, translate(0, -50%));
}



//****************************************************************************************************
//
// .. PROMO
//
//****************************************************************************************************
.promo {
  margin: 50px 0;
}
.promo_i {
  display: none;

  &.__current {display: block;}

}
.promo_i_img {
  vertical-align: top;
}



//****************************************************************************************************
//
// .. Promo slider on first page
//
//****************************************************************************************************
.promo-slider {
  margin: 0 auto;
  width: 1252px;

  &.__index {
    position: relative;
    top: -40px;
  }

}



//****************************************************************************************************
//
// .. SECTION
//
//****************************************************************************************************
.section {

}

.section_header {

}

.section_main {

}

.section_footer {

}



//****************************************************************************************************
//
// .. TABS
//
//****************************************************************************************************
.tabs {border-top: 2px solid #cdcdcd;}

.tabs_list {text-align: center;}

.tabs_i {
  display: inline-block;
  vertical-align: top;

  &.ui-tabs-active {

    .tabs_i_a {
      border: {
        top: 2px solid #cdcdcd;
        right: 2px solid #cdcdcd;
        left: 2px solid #cdcdcd;
      }
      height: 68px;
      margin-top: -70px;
      position: relative;

      &::after {
        content: '';
        background-color: $base-bg;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
      }

    }

  }

  sub {
    font-size: 18px;
    position: relative;
    top: -10px;
    vertical-align: baseline;
  }

  .ico {
    margin-right: 5px;
    position: relative;
    top: -2px;
    vertical-align: middle;
  }

}

.tabs_i_a {
  border-top: 2px solid $base-bg;
  box-shadow: inset 0 0 0 1px #fff !important;
  display: block;
  font: {
    family: $h-font-family;
    size: 28px;
  }
  height: 66px;
  line-height: 68px;
  margin-top: -70px;
  text-decoration: none;

  &:focus {box-shadow: none;}

  &.__white {
    background-color: #fff;
    color: $minor-color;
  }

  &.__red {
    background-color: #eb1c24;
    color: #fff;
  }

  &.__green {
    background-color: #699e00;
    color: #fff;
  }

  &.__orange {
    background-color: #fbbc00;
    color: #fff;
  }

  &.__blue {
    background-color: #141f4e;
    color: #fff;
  }

}

//
// .. Profile tabs
//
.tabs_list {
  &.__profile {
    .tabs_i {
      width: 20%;
      &.ui-tabs-active {
        .tabs_i_a {
          background-color: #fff;
          color: $major-color;
        }
      }
    }
    .tabs_i_a {
      background-color: #fbbc04;
      color: #fff;
      font-size: 18px;
    }
  }
}




//****************************************************************************************************
//
// .. CATALOG
//
//****************************************************************************************************
//
// .. Catalog filter
//
.catalog-filter {

  &.__vert {

    .form_select {width: 240px;}

  }

  &.__horz {

    text-align: right;

    .catalog-filter_i {
      display: inline-block;
      vertical-align: top;
      &:not(:first-child) {margin-left: 20px;}
    }

    .form_checkbox {margin-top: 6px;}

  }

}

//
// .. Catalog
//
.catalog {

  //
  // .. Product
  //
  &.__product {

    .catalog_i {
      height: 410px;
      padding: 25px 35px 140px;
      position: relative;
      @include prefixes(box-sizing, border-box);

      &:hover {box-shadow: 0 0 0 2px #cacaca;}

      header {
        height: 150px;
        line-height: 150px;
        text-align: center;
        margin-bottom: 10px;
      }

        .catalog_i_img {
          display: inline-block;
          vertical-align: middle;
        }

      .catalog_i_number {
        color: #727272;
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 5px;
        span {color: #292929;}
      }

      .catalog_i_name {
        font-size: 17px;
        line-height: 20px;
        a {text-decoration: none;}
      }

      footer {
        bottom: 35px;
        height: 100px;
        position: absolute;
        right: 35px;
        left: 35px;
      }

        .catalog_i_price {
          font-family: $h-font-family;

          &.__old {
            color: #949494;
            font-size: 17px;
            text-decoration: line-through;
          }

          &.__current {

          }

        }

        .catalog_i_action {
          .form_button {width: 107px;}
        }

    }

  }

  //
  // .. Series
  //
  &.__series {

    .catalog_row {
      border-left: 1px solid #cdcdcd;  
    }
    
      .catalog_i {
        border: {
          top:    1px solid #cdcdcd;
          right:  1px solid #cdcdcd;
          bottom: 1px solid #cdcdcd;
        }
        cursor: pointer;
        display: inline-block;
        font: {
          family: $h-font-family;
          size: 23px;
          weight: bold;
        }
        margin-top: -1px;
        //margin-right: -1px;
        padding: 0 20px 50px;
        position: relative;
        text-align: center;
        vertical-align: top;
        width: 25%;
        @include prefixes(box-sizing, border-box);

        &:hover {
          box-shadow: inset 0 0 0 12px $major-color;
        }

        header {
          height: 125px;
          line-height: 125px;
          text-align: left;
          white-space: nowrap;
          img {
            &:first-child{margin-right: 5px;}
          }
        }

        footer {
          line-height: 20px;
          padding: 10px 0 25px;
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          color: #9f9f9f;
        }

      }

    }

}

.catalog_all {
  text-align: center;

  a {text-decoration: none;}

  .fa {
    background-color: red;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    margin-left: 15px;
    padding: 10px 12px 8px;
    vertical-align: middle;
  }

}



//****************************************************************************************************
//
// .. CATALOG SHOW
//
//****************************************************************************************************
.catalog-show {

}

//
// .. Action
//
.catalog-show_action {

}
  .catalog-show_action_i {
    &:not(:last-child) {margin-right: 15px;}
  }


//
// .. Old price
//
.catalog-show_oldprice {
  color: #949494;
  font: {
    family: $h-font-family;
    size: 25px;
    weight: 700;
  }
  margin-bottom: 15px;
  text-decoration: line-through;
}

//
// .. Quantity
//
.catalog-show_quantity {

}
.form_number {
  width: 84px;
  height: 45px;
  position: relative;
}
.form_number_controls {
  border-left: 1px solid #ddd;
  position: absolute;
  top: 0;
  right: 0;
}
.form_number_controls_i {
  color: #949494;
  display: block;
  width: 30px;
  height: 20px;
  text: {
    align: center;
    decoration: none;
  }
  &:not(:last-child) {border-bottom: 1px solid #ddd;}
  &:hover {color: #949494;}
  &.__up {
    line-height: 22px;
  }
  &.__down {
    line-height: 20px;
  }
}

//
// .. Gallery
//
.gallery {

}
.gallery_view {
  margin-bottom: 20px;

  img {
    border: 1px solid #d8d8d8;
    vertical-align: top;
  }

}
.gallery_view_i {
  display: none;
  width: 538px;

  &.__current {display: block;}

  &.__new {
    position: relative;

    &::after {
      background: #eb2224;
      border-radius: 50%;
      color: #fff;
      content: 'new';
      font: {
        family: $h-font-family;
        size: 16px;
      }
      height: 65px;
      line-height: 70px;
      width: 65px;
      text: {
        align: center;
        transform: uppercase;
      }
      position: absolute;
      top: 20px;
      right: 20px;
    }

  }

}
.gallery_preview {

}
.gallery_preview_i {
  border: 1px solid #d8d8d8;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  padding: 3px;

  img {vertical-align: top;}

  &.__current, &:hover {
    border-color: #f4b800;
    box-shadow: inset 0 0 0 3px #f4b800;
  }

  &:not(:last-child) {margin-bottom: 20px;}

  &.__video {
    position: relative;

    &::after {
      color: #fff;
      content: "\f04b";
      font: {
        family: FontAwesome;
        size: 50px;
      }
      position: absolute;
      top: 50%;
      left: 50%;
      @include prefixes(transform, translate(-50%, -50%));
    }

  }

}



//****************************************************************************************************
//
// .. BASKET
//
//****************************************************************************************************
.basket {
  table {width: 100%;}
}

//
// .. Old price
//
.basket_oldprice {
  color: #949494;
  font:{
    family: $h-font-family;
    size: 14px;
    weight: 700;
  }
  text-decoration: line-through;
}

//
// .. Action
//
.basket_action {

}

.basket_action_i {
  display: block;
  white-space: nowrap;
  &:not(:last-child) {margin-bottom: 15px;}
  .fa {
    font-size: 110%;
    margin-right: 3px;
  }
}

//
// .. Promo code
//
.basket_promo {
  .form_text {width: 100px;}
}

.basket_promo_i {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

//
// .. Total
//
.basket_total {

}

.basket_total_t {
  display: inline-block;
  font: {
    family: $h-font-family;
    size: 28px;
    weight: 700;
  }
  line-height: 1;
  margin-right: 10px;
}

//
// .. Steps
//
.basket_steps {

}

.basket_steps_i {
  border: 10px solid #fbbc00;
  padding: 40px 40px 40px 100px;

  &:not(:last-child) {margin-bottom: 10px;}

  &.__close {
    .basket_steps_i_body {display: none;}
  }
  &.__open {
    .basket_steps_i_body {display: block;}
  }

}

.basket_steps_i_t {
  font: {
    family: $h-font-family;
    size: 30px;
    weight: 700;
  }
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  line-height: 52px;

  &::before {
    border-radius: 50%;
    content: attr(data-number);
    color: #fff;
    background-color: #fbbc00;
    position: absolute;
    top: 0;
    left: -60px;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
  }

}

.basket_steps_i_body {
  .form_row {
    display: inline-block;
    vertical-align: top;
    width: 252px;
    &:not(:last-child) {margin-right: 15px;}

    &.__l {
      width: 710px;
    }


    .form_text, .form_select {
      margin: 5px 0;
    }
  }
}

//
// .. Credit
//
.basket_credit {
  position: absolute;
  top: 85px;
  left: 430px;
  width: 530px;
  &::before {
    background-color: #0d0d0d;
    content: '';
    height: 1px;
    width: 45px;
    position: absolute;
    top: 10px;
    left: -55px;
  }
}

//
// .. Delivery
//
.basket_delivery {

}
.basket_delivery_i {
  display: none;
  &.__courier {

  }
  &.__pickup {

  }
}
.basket_delivery_i_list {
  height: 400px;
  overflow-y: auto;
  padding-right: 10px;  
}
.basket_delivery_i_list_i {
  padding: 6px 0 20px 35px;
  position: relative;
  &:not(:last-child) {margin-bottom: 20px;}
  .form_radio {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}



//****************************************************************************************************
//
// .. GRATITUDE
//
//****************************************************************************************************
.gratitude {

}

.gratitude_summary {
  text-align: right;

  dl {

    dt {
      font-size: 15px;
      line-height: 30px;
      height: 30px;
      text-align: left;
    }

    dd {
      font: {
        size: 24px;
        weight: 700;
      }
      line-height: 30px;
      height: 30px;
      text-align: left;
    }

  }

}

.gratitude_total {
  background-color: #fbbc04;
  border-radius: 50%;
  height: 340px;
  margin: 0 auto;
  position: relative;
  width: 340px;
}

.gratitude_total_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefixes(transform, translate(-50%, -50%));

  p {
    color: #fff;
    font-size: 14px;
    line-height: 40px;
  }

  .price {
    color: #fff !important;
    white-space: nowrap;
  }

}

.gratitude_info {
  color: #464646;
  font-size: 17px;
  line-height: 23px;

  a {color: #f7a300;}

}



//****************************************************************************************************
//
// .. ABOUT
//
//****************************************************************************************************
.about {

}

.about_digits {

}

.about_digits_i {
  font: {
    family: $h-font-family;
    weight: 700;
  }

  &:not(:last-child) {margin-bottom: 40px;}

}

.about_digits_i_t {
  font-size: 100px;
  line-height: 86px;
  margin-bottom: 10px;
}

.about_digits_i_caption {font-size: 25px;}



//****************************************************************************************************
//
// .. CONTACTS
//
//****************************************************************************************************
.contacts {
  border: 15px solid $yellow-color;
  padding: 0 140px;

  table {

    tbody {

      tr {
        &:not(:last-child) {border-bottom: 1px solid #d3d3d3;}

        td {
          padding: 50px 0;
          vertical-align: middle;

          &.contacts_table_name {
            color: #e30613;
            font: {
              family: $h-font-family;
              size: 21px;
              weight: 700;
            }
            line-height: 21px;
            padding-right: 100px;
            text-transform: uppercase;
          }

          &.contacts_table_details {
            white-space: nowrap;

            label {
              color: #4c4c4c;
              font-size: 14px;
              line-height: 18px;
            }

            a, span {
              color: #1e275b;
              font: {
                family: $h-font-family;
                size: 17px;
                weight: 700;
              }
              line-height: 29px;
              padding-right: 50px;
              text-transform: uppercase;
            }

          }

          &.contacts_table_info {
            color: #4c4c4c;
            font-size: 14px;
            line-height: 18px;
            padding-right: 25px;
          }

        }

      }

    }

  }

}



//****************************************************************************************************
//
// .. ARTICLES
//
//****************************************************************************************************
.articles {

  //
  // .. Photo gallery
  //
  .articles_i_show_gallery {

  }

  .articles_i_show_gallery_i {
    border: 1px solid #d8d8d8;
    display: inline-block;
    margin: {
      right: 20px;
      bottom: 20px;
    }
    vertical-align: top;
    img {vertical-align: top;}
  }

  .articles_i_show_gallery_add {
    display: inline-block;
    width: 265px;
    height: 120px;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: top;

    a {
      color: #fff;
      display: block;
      font-family: $h-font-family;
      line-height: 120px;
      text: {
        decoration: none;
        transform: uppercase;
      }
    }

  }

  //
  // .. CLose
  //
  .articles_i_show_close, .articles_i_caption_more {
    color: #fff;
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;

    &:hover {color: inherit;}

    &::before {
      content: '\f078';
      background-color: #fff;
      border-radius: 50%;
      display: inline-block;
      font-family: FontAwesome;
      line-height: 38px;
      margin-right: 10px;
      text-align: center;
      vertical-align: middle;
      @include size(35px, 35px);
    }

  }

  .articles_i_show_close {

    &::before {
      color: #fff;
      content: '\f077';
    }

  }

  //
  // .. Bonuses
  //
  &.__bonuses {

    .articles_i {
      border: 15px solid transparent;

      &:not(:last-child) {margin-bottom: 25px;}

      &.__green {
        border-color: $green-color;

        .articles_i_show_close {color: $green-color;}

        .articles_i_show_gallery_add,
        .articles_i_show_close::before,
        .articles_i_caption_more::before {
          background-color: $green-color;
        }

      }

      &.__red {
        border-color: $red-color;

        .articles_i_show_close {color: $red-color;}

        .articles_i_show_gallery_add,
        .articles_i_show_close::before,
        .articles_i_caption_more::before {
          background-color: $red-color;
        }

      }

      &.__lime {
        border-color: $lime-color;

        .articles_i_show_close {color: $lime-color;}

        .articles_i_show_gallery_add,
        .articles_i_show_close::before,
        .articles_i_caption_more::before {
          background-color: $lime-color;
        }

      }

      &.__orange {
        border-color: $orange-color;

        .articles_i_show_close {color: $orange-color;}

        .articles_i_show_gallery_add,
        .articles_i_show_close::before,
        .articles_i_caption_more::before {
          background-color: $orange-color;
        }

      }

      &.__yellow {
        border-color: $yellow-color;

        .articles_i_show_close {color: $yellow-color;}

        .articles_i_show_gallery_add,
        .articles_i_show_close::before,
        .articles_i_caption_more::before {
          background-color: $yellow-color;
        }

      }

      &.brick {

        &::before {
          top: -15px;
          left: -31px;
        }

        &::after {
          right: -15px;
          bottom: -31px;
        }

      }

    }

    .articles_i_announcement {padding: 35px;}

    .articles_i_photo {
      border: 1px solid #e5e5e5;
      border-radius: 1px;
      display: inline-block;
      padding: 10px;

      img {vertical-align: top;}

    }

    .articles_i_caption {margin-left: -95px;}

    .articles_i_caption_t {
      text-transform: uppercase;
      a {color: $base-color;}
    }

    .articles_i_caption_more {
      color: $base-color;
      display: inline-block;
      margin-top: 5px;
      text-decoration: none;

      &:hover {color: inherit;}

      &::before {
        content: '\f078';
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-family: FontAwesome;
        line-height: 38px;
        margin-right: 10px;
        text-align: center;
        vertical-align: middle;
        @include size(35px, 35px);
      }

    }

    //
    // .. Show
    //
    .articles_i_show {
      display: none;
      padding: 60px;
    }

    .articles_i_show_photo {
      border: 1px solid #d8d8d8;
      vertical-align: top;
    }

    .articles_i_show_share {
      position: absolute;
      top: 60px;
      right: 60px;
    }

  }

  //
  // .. News
  //
  &.__news {

    .articles_i {
      color: #fff;
      padding: 20px;

      &:not(:last-child) {margin-bottom: 25px;}

      &.__green {
        background-color: $green-color;

        .articles_i_show_date,
        .articles_i_show_close,
        .articles_i_caption_more::before {color: $green-color;}

        .articles_i_show_gallery_add,
        .articles_i_show_close::before {background-color: $green-color;}

      }

      &.__red {
        background-color: $red-color;

        .articles_i_show_date,
        .articles_i_show_close,
        .articles_i_caption_more::before {color: $red-color;}

        .articles_i_show_gallery_add,
        .articles_i_show_close::before {background-color: $red-color;}

      }

      &.__lime {
        background-color: $lime-color;

        .articles_i_show_date,
        .articles_i_show_close,
        .articles_i_caption_more::before {color: $lime-color;}

        .articles_i_show_gallery_add,
        .articles_i_show_close::before {background-color: $lime-color;}

      }

      &.__orange {
        background-color: $orange-color;

        .articles_i_show_date,
        .articles_i_show_close,
        .articles_i_caption_more::before {color: $orange-color;}

        .articles_i_show_gallery_add,
        .articles_i_show_close::before {background-color: $orange-color;}

      }

      &.__yellow {
        background-color: $yellow-color;

        .articles_i_show_date,
        .articles_i_show_close,
        .articles_i_caption_more::before {color: $yellow-color;}

        .articles_i_show_gallery_add,
        .articles_i_show_close::before {background-color: $yellow-color;}

      }

    }

    .articles_i_announcement {

    }

    .articles_i_photo {
      border: 10px solid #fff;
      img {vertical-align: top;}
    }

    .articles_i_caption {

    }

    .articles_i_caption_t {
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    //
    // .. Show
    //
    .articles_i_show {
      background-color: #fff;
      color: #1f2650;
      display: none;
      padding: 25px 70px 40px 200px;
      position: relative;
    }

    .articles_i_show_date {
      position: absolute;
      top: 20px;
      left: 25px;
    }

    .articles_i_show_share {
      position: absolute;
      top: 20px;
      right: 25px;
    }

    .articles_i_show_photo {
      border: 1px solid #d8d8d8;
      vertical-align: top;
    }

  }

}



//****************************************************************************************************
//
// .. ARTICLES FILTER
//
//****************************************************************************************************
.articles-filter {display: inline-block;}

.articles-filter_i {display: inline-block;}

.articles-filter_i_a {
  border-radius: 20px;
  font-family: $h-font-family;
  text-decoration: none;
  @include prefixes(transition, all .33s ease);

  &.__s {
    font-size: 25px;
    padding: 6px 8px 4px;
  }

  &.__l {
    font-size: 40px;
    padding: 0 12px;
  }

  &.__current, &:hover {
    background-color: $major-color;
    color: #fff;
  }

}



//****************************************************************************************************
//
// .. JOBS
//
//****************************************************************************************************
.jobs {

  ol {

    li {
      padding-left: 80px;
      position: relative;

      span {
        font: {
          family: $h-font-family;
          size: 30px;
        }
        line-height: 58px;
        vertical-align: middle;
      }

      &:not(:last-child) {margin-bottom: 10px;}

      &::before {
        background-color: #ea030a;
        border-radius: 50%;
        content: attr(data-count);
        color: #fff;
        font: {
          family: $h-font-family;
          size: 25px;
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 58px;
        height: 58px;
        text-align: center;
        line-height: 58px;
      }

      a {color: #ef0205;}

    }

  }

}

.jobs-item {
  background-color: #fff;
  padding: 30px;
}

.jobs-item_header {

}

.jobs-item_body {display: none;}



//****************************************************************************************************
//
// .. FAQ
//
//****************************************************************************************************
.faq {

}

.faq_i {
  background-color: #fff;
  padding: 50px 70px;
  @include prefixes(transition, background .33s);

  &:not(:last-child) {margin-bottom: 30px;}

  &.__current {
    background-color: $red-color;
    color: #fff;

    a {color: inherit;}

  }

  a {@include prefixes(transition, none)};

}

.faq_i_answer {
  background-color: #fff;
  color: #1f2650;
  display: none;
  padding: 50px 60px;
  position: relative;
  margin-top: 20px;
}

.faq_i_answer_close {
  background-color: #eb2224;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  top: 15px;
  right: 15px;
  width: 48px;
  height: 48px;
  line-height: 48px;

  i {color: #fff;}

}



//****************************************************************************************************
//
// .. SLIDER
//
//****************************************************************************************************
.slider {
  position: relative;

  &.__text {

    .slider_pager {
      text-align: center;
      padding: 10px 0;

      span {
        background-color: #d0cccc;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        font-size: 0;
        width: 16px;
        height: 16px;
        margin-right: 20px;
        &.cycle-pager-active {
          background-color: #eb1c24;
        }
      }

    }

  }

  &.__promo {

    .slides {
      height: 227px;
      overflow: hidden;
      white-space: nowrap;
    }

    .slide {
      display: inline-block;
      margin: {
        right: 19px;
        left: 16px;
      }
      width: 383px;
      @include prefixes(box-sizing, border-box);
    }

  }

}

.slides {

}

.slide {
  width: 100%;
}

.slider_nav {
  background-color: #cdcdcd;
  border-radius: 50%;
  color: #fff;
  line-height: 52px;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 50%;
  z-index: 999;
  @include size(50px, 50px);

  &:hover {color: #fff;}

  &.__prev {left: -70px;}

  &.__next {right: -70px;}

}

.slider_pager {

}



//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************
//
// .. INFO BLOCK
//
.info-block {
  border: 15px solid $yellow-color;
  padding: 40px 50px;
}

.info-block_header {
  color: $major-color;
  font: {
    family: $h-font-family;
    size: 30px;
  }
  line-height: 32px;
  text-transform: uppercase;
}

.info-block_body {

  ol {

    li {
      padding-left: 80px;
      position: relative;

      &:not(:last-child) {margin-bottom: 40px;}

      &::before {
        background-color: #ea030a;
        border-radius: 50%;
        content: attr(data-count);
        color: #fff;
        font: {
          family: $h-font-family;
          size: 25px;
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 58px;
        height: 58px;
        text-align: center;
        line-height: 58px;
      }

      a {color: #ef0205;}

    }

  }

  table {
    width: 100%;

    thead {
      text-align: left;

      th {font-weight: 400;}

    }

    tbody {

      td {
        font: {
          family: $h-font-family;
          size: 30px;
        }
        line-height: 45px;
      }

    }

  }

}

//
// .. Price
//
.price {
  display: inline-block;
  font-family: $h-font-family;
  white-space: nowrap;

  &.__rub {
    color: $minor-color;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &.__s {
    font-size: 24px;
    span {font-size: 18px;}
  }

  &.__m {
    font-size: 28px;
    span {font-size: 18px;}
  }

  &.__l {
    font-size: 47px;
    span {font-size: 28px;}
  }

}

//
// Range slider
//
.range-slider {
  padding-top: 30px;
  position: relative;
  width: 240px;
}

.range-slider_init {
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  height: 12px;
  position: relative;

  .ui-slider-range {
    background-color: #f7a300;
    position: absolute;
    top: -1px;
    bottom: -1px;
  }

  .ui-slider-handle {
    background-color: #fbbc04;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin: {
      top: -10px;
      right: -10px;
      left: -10px;
    }
  }

}

.range-slider_value {
  color: #141f4e;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  top: 0;

  &.__min {left: 0;}

  &.__max {right: 0;}

}

//
// .. Brick
//
.brick {
  box-shadow: -15px 15px 0 1px rgba(0, 0, 0, .15);
  position: relative !important;

  &::before, &::after {
    content: '';
    position: absolute;
    @include size(0, 0);
  }

  &::before {
    border-bottom: 14px solid rgba(0, 0, 0, .15);
    border-left: 16px solid transparent;
    top: 0px;
    left: -16px;
  }

  &::after {
    border-top: 16px solid rgba(0, 0, 0, .15);
    border-right: 14px solid transparent;
    right: 0px;
    bottom: -16px;
  }

}

//
// .. Breadcrumbs
//
.breadcrumbs {

  font-size: 14px;

  .fa {
    color: #0068a5;
    font-size: 10px;
    margin: 0 10px;
  }

}

a.breadcrumbs_i {color: #0068a5;}

//
// .. Pagination
//
.pagination {

  &.__page {

    .pagination_i_a {color: #0b113c;}

  }

  &.__catalog {

    .pagination_i {margin: 0 5px;}

    .pagination_i_a {
      border: 1px solid #ccc;
      color: #eb1c24;
    }

  }

}

.pagination_i {display: inline-block;}

.pagination_i_a {
  border-radius: 50%;
  display: block;
  font-family: $h-font-family;
  line-height: 38px;
  width: 38px;
  height: 38px;
  text: {
    align: center;
    decoration: none;
  }
  @include prefixes(transition, all .33s ease);

  &.__current, &:hover {
    background-color: #eb1c24;
    border-color: transparent !important;
    color: #fff !important;
  }

}

//
// .. Share link
//
.share-link {
  font: {
    family: $h-font-family;
    size: 12px;
  }
  text: {
    decoration: none;
    transform: uppercase;
  }

  img {
    vertical-align: middle;
    margin-left: 5px;
  }

}

//
// .. Table
//
.table {

  thead {

    th {
      border-bottom: 1px solid #ccc;
      color: #999;
      font: {
        size: 14px;
        weight: 400;
      }
      line-height: 18px;
      padding: {
        top:    10px;
        bottom: 10px;
      }
      text-align: left;
      white-space: nowrap;
      &:not(:last-child) {padding-right: 80px;}

    }

  }

  tbody {

    td {
      border-bottom: 1px solid #ccc;
      padding: 20px 0;
      vertical-align: middle;
      &:not(:last-child) {padding-right: 80px;}

    }

  }

}

//
// .. Table lements
//
.table_number {
  color: #727272;
  font-size: 11px;
  line-height: 20px;
  span {color: #292929;}
}

.table_name {
  font-size: 15px;
  line-height: 20px;

  a {
    text-decoration: none;

    &:hover {color: $major-color;}

  }

}

.table_t {
  border-color: transparent !important;
  padding: 30px 0 !important;
}

//
// .. Availability
//
.availability {
  dl {
    &:not(:last-child) {margin-bottom: 20px;}
    dt, dd {
      display: inline-block;
      vertical-align: middle;
      @include prefixes(box-sizing, border-box);
    }
  }
}
.availability_header {

}
.availability_section{

}
.availability_section_more {
  display: none;
}
.availability_section_name {
  margin-right: 14px;
  padding-left: 15px;
  position: relative;
  width: 210px;
  &::before {
    border-radius: 50%;
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 7px;
    left: 0;
  }
  &.__green {&::before {background-color: #00a81c;}}
  &.__blue  {&::before {background-color: #09bdf3;}}
  &.__brown {&::before {background-color: #874a30;}}
}
.availability_section_contacts {
  margin-right: 14px;
  width: 260px;
}
.availability_section_action {
  width: 100px;
  .form_button {width: 100px;}
}

//
// .. Count
//
.count {
  background-color: #eee;
  border-radius: 3px;
  height: 6px;
  position: relative;
  top: 8px;
  width: 100%;  
  &::before {
    content: '';
    background-color: $major-color;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  &::after {
    color: #aaa;
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &.__s {
    &::before {width: 25%;}
    &::after {content: "мало"}
  }
  &.__m {
    &::before {width: 50%;}
    &::after {content: "несколько"}
  }
  &.__l {
    &::before {width: 100%;}
    &::after {content: "много"}
  }
}



//****************************************************************************************************
//
// .. REVIEWS
//
//****************************************************************************************************
.reviews {

}
.reviews_add {

}
.reviews_list {

}
.reviews_i {
  margin-bottom: 20px;
}
.reviews_i_tx {
  background-color: #f5f5f5;
  font-size: 14px;
  line-height: 21px;
  padding: 30px;
  position: relative;
  &::before {
    border: {
      top:  10px solid #f5f5f5;
      left: 10px solid transparent;
    }
    content: '';
    position: absolute;
    top: 25px;
    left: -10px;
    height: 0;
    width: 0;
  }
}
.reviews_i_name {

}
.reviews_i_date {
  color: #bdbdbd;
  font-size: 13px;
}



//****************************************************************************************************
//
// .. BLOCKS
//
//****************************************************************************************************
.blocks {
  color: $minor-color;
  background: #f5f5f5 url(/assets/images/pattern.png) center repeat;
}

//
// .. ABOUT
//
.about-block {
  background-color: #fff;
  padding: 50px 60px;
}

.about-block_i {
  display: inline-block;
  margin: 0 0 20px 0;
  padding: 0 20px;
  text-align: center;
  width: 33.333%;
  vertical-align: top;
  @include prefixes(box-sizing, border-box);
}

.about-block_i_ico {margin-bottom: 20px;}

.about-block_i_caption {
  font: {
    family: $h-font-family;
    size: 28px;
    weight: 700;
  }
  line-height: 24px;
  text-transform: uppercase;
}

//
// .. FEEDBACK
//
.feedback-block {

  .form_label {
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 200px;
  }

  .form_button {margin-left: 210px;}

}

.feedback-block_header {
  background-color: #eb2224;
  color: #fff;
  padding: 50px 70px;
  text-transform: uppercase;
}

.feedback-block_body {
  background-color: #fff;
  padding: 30px 0 55px;
}

.feedback-block_captcha {
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}

//
// .. SHARE
//
.share-block {text-align: center;}

.share-block_t {
  color: #212121;
  font: {
    size: 20px;
    weight: 700;
  }
  line-height: 35px;
  text-transform: uppercase;
}

.share-block_nav {

}

.share-block_nav_i {
  display: inline-block;
  margin: 0 5px;
  .ico {vertical-align: top;}
}

//
// .. SUBSCRIPTION
//
.subscription-block {

  input::-webkit-input-placeholder {color: #fff;}

  input:-moz-placeholder {color: #fff;}

}

.subscription-block_form {
  background-color: #fbbc00;
  border-radius: 15px 15px 0 0;
  padding: 60px 60px 35px;
  position: relative;
}

.subscription-block_form_input {
  border: 1px solid #fcd257;
  border-radius: 15px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 20px;
  width: 220px;
}

.subscription-block_form_submit {
  background-color: #eb1c24;
  border-radius: 15px;
  color: #fff;
  display: block;
  font: {
    family: $h-font-family;
    size: 18px;
  }
  padding: 25px 20px;
  text: {
    align: center;
    transform: uppercase;
  }
  width: 220px;
}

.subscription-block_form_img {
  position: absolute;
  top: 110px;
  right: 25px;
}

.subscription-block_vk {
  background-color: #f7a300;
  border-radius: 0 0 15px 15px;
  padding: 35px 80px 60px 105px;
}

.subscription-block_vk_widget {
  border: 10px solid #fff;
  border-radius: 6px;
}

//
// .. CATALOG
//
.catalog-block {
  background-color: #fff;
  padding: 50px 30px;
}



//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {
  font-size: 13px;
  line-height: 18px;
  padding: 60px 0;
}

//
// .. Pages
//
.footer_pages {

}

.footer_pages_i {
  display: inline-block;
  margin-right: 50px;
  padding: 30px 0;
}

.footer_pages_i_a {
  color: #1e275b;
  font: {
    family: $h-font-family;
    size: 16px;
  }
  text: {
    decoration: none;
    transform: uppercase;
  }
  &:hover {color: $major-color;}
}