.pluso {
  display: inline-block;
  vertical-align: middle;
}
.pluso-more {display: none !important;}

.lightbox {
  :focus, :active {
    outline: 0;
    border: 0;
    box-shadow: none !important;
  }
}