//****************************************************************************************************
//
// .. Pluso
//
//****************************************************************************************************
.pluso {
  display: inline-block;
  vertical-align: middle;
}
.pluso-more {display: none !important;}

.lightbox {
  :focus, :active {
    outline: 0;
    border: 0;
    box-shadow: none !important;
  }
}



//****************************************************************************************************
//
// .. jScrollPane
//
//****************************************************************************************************
.jspVerticalBar {width: 8px;}
.jspDrag {background-color: $major-color;}
.jspTrack {background-color: #eee;}