%section{role: "region", "aria-label" => "Demo"}
  %article
    %header.m-b_4
      %h3
        %a{href: "/index"}
          %i.fa.fa-flask
          &nbsp;Chemistry Template
    
    %link{rel: "stylesheet", href: "/demo/demo.css"}

    %nav.demo
      %ul.m-b_2
        %li
          %a{href: "/components"} Components
      
      %ol
        %li 
          %a{href: "/index"} Index
        %li 
          %a{href: "/grid"} Grid
        %li 
          %a{href: "/links"} Links
        %li 
          %a{href: "/forms"} Forms
        %li 
          %a{href: "/content"} Content
        %li 
          %a{href: "/styles"} Styles