%section{role: "region", "aria-label" => "Demo"}
  %article
    %header.m-b_4
      %a{href: "/"}
        %img{src: "/assets/images/logo.png", alt: "Lego", class: "logo"}
    
    %link{rel: "stylesheet", href: "/demo/demo.css"}

    %nav.demo
      %ol
        %li 
          %a{href: "/"} Главная
        %li 
          %a{href: "/catalog"} Каталог
        %li
          %a{href: "/bonuses"} Бонусная программа
        %li
          %a{href: "/cooperation"} Сотрудничество
        %li
          %a{href: "/jobs"} Вакансии
        %li
          %a{href: "/faq"} Вопрос-ответ
        %li
          %a{href: "/article"} Новости / Статьи / Мероприяти
        %li
          %a{href: "/gratitude"} Спасибо за заказ