%section{role: "region", "aria-label" => "Demo"}
  %article
    %header.m-b_4
      .grid
        .grid-i.__grid-1.va-m>
          %a{href: "/demo"}
            %img.logo{src: "/assets/images/logo.png", alt: "Lego"}
        .grid-i.__grid-11.va-m>
          %h1.tx.__upper
            %a{href: "/"}
              %span.tx.__minor Сеть магазинов
              %span.tx.__major Lego

    .m-b_2
      .grid
        .grid-i.__grid-3>
          %p.tx.__xs
            %a{href: "https://github.com/oskolsky/markup_lego"} View Source on GitHub
        .grid-i.__grid-3>
          %p.tx.__xs
            %a{href: "//oskolsky.com"} Created by Maxim Oskols'ky

    .m-b_4
      .grid
        .grid-i.__grid-3>
          %p.tx.__xs
            %a{href: "/demo/elements"} Элементы

    .grid
      .grid-i.__grid-3
        %nav.demo.tx.__xs
          %ol
            %li
              %a{href: "/"} Главная
            %li
              %a{href: "/catalog"} Каталог
            %li
              %a{href: "/catalog_series"} Каталог серии
            %li
              %a{href: "/catalog_empty"} Каталог пустой
            %li
              %a{href: "/catalog_show"} Карточка товара
            %li
              %a{href: "/print/catalog_show"} Карточка товара (печать)
            %li
              %a{href: "/basket"} Корзина
            %li
              %a{href: "/basket_close"} Корзина (закрытые шаги)
            %li
              %a{href: "/gratitude"} Спасибо за заказ
            %li
              %a{href: "/profile"} Личный кабинет
            %li
              %a{href: "/search"} Поиск
            %li
              %a{href: "/about"} О нас
            %li
              %a{href: "/contacts"} Контакты
            %li
              %a{href: "/stores"} Где купить
            %li
              %a{href: "/bonuses"} Бонусная программа
            %li
              %a{href: "/jobs"} Вакансии
            %li
              %a{href: "/faq"} Вопрос-ответ
            %li
              %a{href: "/article"} Новости / Статьи / Мероприяти

      .grid-i.__grid-3
        %nav.demo.tx.__xs
          %ol
            %li
              %a.a.__pseudo{href: "#", data: {dialog: "true", url: "/dialogs/location"}} Выбор города
            %li
              %a.a.__pseudo{href: "#", data: {dialog: "true", url: "/dialogs/register"}} Регистрация
            %li
              %a.a.__pseudo{href: "#", data: {dialog: "true", overlayclick: "false", url: "/dialogs/update"}} Обновление информации
            %li
              %a.a.__pseudo{href: "#", data: {dialog: "true", url: "/dialogs/login"}} Авторизация
            %li
              %a.a.__pseudo{href: "#", data: {dialog: "true", url: "/dialogs/forgot"}} Восстановление пароля
            %li
              %a.a.__pseudo{href: "#", data: {dialog: "true", url: "/dialogs/oneclick"}} Купить в 1 клик
            %li
              %a.a.__pseudo{href: "#", data: {dialog: "true", url: "/dialogs/availability"}} Проверить наличие
            %li
              %a.a.__pseudo{href: "#", data: {dialog: "true", url: "/dialogs/then"}} Отложить товар
            %li
              %a.a.__pseudo{href: "#", data: {dialog: "true", url: "/dialogs/map"}} Посмотреть на карте
            %li
              %a.a.__pseudo{href: "#", data: {dialog: "true", url: "/dialogs/message"}} Сообщение              