!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Сеть магазинов Lego
    = haml 'views/layouts/_head'.to_sym
    %link{rel: "stylesheet", href: "/demo/demo.css"}
  
  %body#page.page
    %main#main.main{role: "main"}
      .ctn.p-t_4.p-b_4
        = yield